<div>
    <div class="navbar-fixed-top" ng-include="getTopMenu()"></div>
</div>
<div style="margin-top: 50px;">
    <div class="page-container">
        <header ng-include="getLeftMenu()"></header>
        <div class="main-content">
            <!-- <header ng-include="getTopMenu()"></header> -->
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="table_heading">Add Activity</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary" ng-click="goto('/activity-list')"
                            style="margin-right: 150px; margin-top: 15px; float:right;">Back</button>

                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6" style="margin: 0 auto;">
                        <form name="poForm" data-ng-submit="uploadAcitivityDocument(activity,document)" name="poForm"
                            id="poForm" novalidate>
                            <div class="form-group">
                                <label for="field-1">Booking No</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="number" class="form-control" name="booking_no" id="booking_no"
                                        placeholder="Enter Booking Number" ng-model='activity.booking_no'>
                                    <div ng-messages="poForm.$submitted && poForm.booking_no.$error" class="error_msg">
                                        <div ng-message="required">Enter Booking No</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="field-1">Message</label>
                                <div style="padding-bottom: 10px;">
                                    <textarea type="text" rows="4" class="form-control" name="message" id="message"
                                        placeholder="Enter Message" ng-model='activity.message'></textarea>
                                    <div ng-messages="poForm.$submitted && poForm.message.$error" class="error_msg">
                                        <div ng-message="required">Enter Message</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="field-1">Assign To</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" name="assign_to" id="assign_to"
                                        placeholder="Enter Staff" ng-model='activity.assign_to'>
                                    <div ng-messages="poForm.$submitted && poForm.assign_to.$error" class="error_msg">
                                        <div ng-message="required">Enter Staff</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="field-1">Location</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" name="location" id="location"
                                        placeholder="Enter Location" ng-model='activity.location'>
                                    <div ng-messages="poForm.$submitted && poForm.location.$error" class="error_msg">
                                        <div ng-message="required">Enter Location</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="field-1">Attachment :</label>
                                <input type="file" 
                                    class="form-control-file"
                                    onchange="angular.element(this).scope().updateattachment2()" 
                                    id="document-file"
                                    ngf-select placeholder="Choose Image" 
                                    ng-model="document.file" ><br>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="submit" class="btn btn-light" on-click="reload()" >Cancel</button>
                                    <p ng-show="showaddpromsg" class="success_msg" style="text-align: center;">
                                        {{addpromsg}}</p>
                                    <p ng-show="showaddstaffsemsg" class="error_msg"
                                        style="text-align: center;">{{addstaffsemsg}}</p>
                                </div>
                            </div>
                            <hr>
                        </form>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>