<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="table_heading">Add Collection</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary" ng-click="goto('/collections')"
                            style="margin-right: 150px; margin-top: 15px; float:right;">Back</button>

                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-10">
                            <form name="poForm" data-ng-submit="addCollection(poForm,product)" name="poForm" id="poForm"
                                novalidate>
                                <!-- <form role="form" name="exampleForm"  class="form-horizontal form-groups-bordered" required> -->

                                <!-- <div class="form-group" ng-click="brand2()">
                                    <label for="field-1" class="col-sm-4 control-label">Brand</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <select class="form-control" ng-model="product.brand"
                                            ng-change="productBrand(product.brand)"
                                            ng-options="brand1.brand as brand1.brand for brand1 in brands | orderBy:'brand' track by brand1.brand">
                                            <option value="" selected data-default>Select Product Brand</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group" ng-click="type2()">
                                    <label for="field-1" class="col-sm-4 control-label">Product Type</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <select class="form-control" ng-model="product.type"
                                            ng-options="type1.product_type as type1.product_type for type1 in types | orderBy:'product_type' track by type1.product_type">
                                            <option value="" selected data-default>Select Product Type</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group" ng-click="description(product)">
                                    <label for="field-1" class="col-sm-4 control-label">Product Title</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <select class="form-control" ng-model="product.description"
                                            ng-options="title1.id as title1.description for title1 in titles"
                                            ng-change="selectedItemChanged(product.description)">
                                            <option value="" selected data-default>Select Product Title</option>
                                        </select>
                                    </div>
                                </div>
                                <br> -->
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Contact Person</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="contactPerson" id="contactPerson"
                                            placeholder="Enter Contact Person" ng-model='product.contactPerson'>
                                        <div ng-messages="poForm.$submitted && poForm.contactPerson.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter Contact Person</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Business Name</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="businessName" id="businessName"
                                            placeholder="Enter Business Name" ng-model='product.businessName'>
                                        <div ng-messages="poForm.$submitted && poForm.businessName.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter Business Name</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Address1</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <textarea cols="4" row="6" type="text" class="form-control" name="address1"
                                            id="address1" placeholder="Enter Address 1"
                                            ng-model='product.address1'></textarea>
                                        <div ng-messages="poForm.$submitted && poForm.address1.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter Address 1</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Address 2</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <textarea cols="4" row="6" type="text" class="form-control" name="address2"
                                            id="address2" placeholder="Enter Address 2" ng-model='product.address2'
                                            ng-model-options="{ allowInvalid: true }"></textarea>
                                        <div ng-messages="poForm.$submitted && poForm.address2.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter Address 2</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">City</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="city" id="city"
                                            placeholder="Enter City" ng-model='product.city'>
                                        <div ng-messages="poForm.$submitted && poForm.city.$error" class="error_msg">
                                            <div ng-message="required">Enter City</div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Postal Code</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="code" id="code"
                                            placeholder="Enter Postal Code" ng-model='product.code'>
                                        <div ng-messages="poForm.$submitted && poForm.code.$error" class="error_msg">
                                            <div ng-message="required">Enter Postal Code</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Country</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="country" id="country"
                                            placeholder="Enter Country" ng-model='product.country'>
                                        <div ng-messages="poForm.$submitted && poForm.country.$error" class="error_msg">
                                            <div ng-message="required">Enter Country</div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Contact Number</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="contact" id="contact"
                                            placeholder="Enter Contact" ng-model='product.contact'>
                                        <div ng-messages="poForm.$submitted && poForm.contact.$error" class="error_msg">
                                            <div ng-message="required">Enter Contact</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="Enter Email" ng-model='product.email'>
                                        <div ng-messages="poForm.$submitted && poForm.email.$error" class="error_msg">
                                            <div ng-message="required">Enter Email</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Area</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="area" id="area"
                                            placeholder="Enter Area" ng-model='product.area'>
                                        <div ng-messages="poForm.$submitted && poForm.area.$error" class="error_msg">
                                            <div ng-message="required">Enter Area</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-8">
                                        <button type="submit" class="btn btn_back">Submit</button>
                                        <p ng-show="showaddpromsg" class="success_msg" style="text-align: center;">
                                            {{addpromsg}}</p>
                                        <p ng-show="showaddproductsemsg" class="error_msg" style="text-align: center;">
                                            {{addproductsemsg}}</p>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-2">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>