<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="table_heading">Add Support</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary" ng-click="goto('/Support')"
                            style="margin-right: 150px; margin-top: 15px; float:right;">Back</button>

                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6" style="margin: 0 auto;">
                        <form name="poForm" data-ng-submit="addSupport(support)" name="poForm"
                            id="poForm" novalidate>
                            <div class="form-group">
                                <label for="field-1">Booking No</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="number" class="form-control" name="booking_no" id="booking_no"
                                        placeholder="Enter Booking Number" ng-model='support.booking_no'>
                                    <div ng-messages="poForm.$submitted && poForm.booking_no.$error" class="error_msg">
                                        <div ng-message="required">Enter Booking No</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="field-1">Email</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Enter Email" ng-model='support.email'></textarea>
                                    <div ng-messages="poForm.$submitted && poForm.email.$error" class="error_msg">
                                        <div ng-message="required">Enter Email</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="field-1">Phone</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="number" class="form-control" name="phone" id="phone"
                                        placeholder="Enter Phone" ng-model='support.phone'>
                                    <div ng-messages="poForm.$submitted && poForm.phone.$error" class="error_msg">
                                        <div ng-message="required">Enter Phone</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="field-1">Request User</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" name="req_user"
                                        id="req_user" placeholder="Enter Request User"
                                        ng-model='support.req_user'>
                                    <div ng-messages="poForm.$submitted && poForm.req_user.$error"
                                        class="error_msg">
                                        <div ng-message="required">Enter Request User</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="field-1">Message</label>
                                <div style="padding-bottom: 10px;">
                                    <textarea type="text" class="form-control" name="s_msg" id="s_msg"
                                        placeholder="Enter Message" ng-model='support.s_msg'></textarea>
                                    <div ng-messages="poForm.$submitted && poForm.s_msg.$error" class="error_msg">
                                        <div ng-message="required">Enter Message</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="field-1" style="text-align:right">Priority</label>
                                <div style="padding-bottom: 10px;">
                                    <select class="form-control" ng-model="support.priority">
                                        <option value="" selected data-default disabled>Select</option>
                                        <option>Very High</option>
                                        <option>High</option>
                                        <option>Normal</option>
                                        <option>Low</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="field-1" style="text-align:right">Assign to</label>
                                <div style="padding-bottom: 10px;">
                                    <select class="form-control" ng-model="support.assign_to">
                                        <option value="" selected data-default disabled>Select</option>
                                        <option>Amol</option>
                                        <option>Manisha</option>
                                        <option>Sneha</option>
                                        <option>Jeni</option>
                                        <option>Pragya</option>
                                        <option>Amit</option>
                                        <option>Mohammad</option>
                                        <option>Shrutika</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="field-1" style="text-align:right">Department</label>
                                <div style="padding-bottom: 10px;">
                                    <select class="form-control" ng-model="support.department">
                                        <option value="" selected data-default disabled>Select</option>
                                        <option>Technical</option>
                                        <option>Sales</option>
                                        <option>Purchase</option>
                                        <option>Logistics</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="field-1" style="text-align:right">Status</label>
                                <div style="padding-bottom: 10px;">
                                    <select class="form-control" ng-model="support.s_status">
                                        <option value="" selected data-default disabled>Select</option>
                                        <option>Completed</option>
                                        <option>In Progress</option>
                                        <option>Pending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-5">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <p ng-show="showaddpromsg" class="success_msg" style="text-align: center;">
                                        {{addpromsg}}</p>
                                    <p ng-show="showaddstaffsemsg" class="error_msg"
                                        style="text-align: center;">{{addstaffsemsg}}</p>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>