<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="table_heading">Add Brand</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary" ng-click="goto('/brands')" style="margin-right: 150px; margin-top: 15px; float:right;">Back</button>

                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="">
                                <form data-ng-submit="newBrand(addBrandForm,bt)" name="addBrandForm1" id="addBrandForm1"
                                    novalidate>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-7 control-label">Brand</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="brand" id="brand" placeholder="Enter Brand"
                                                ng-model='bt.brand'>
                                            <div ng-messages="addBrandForm.$submitted && addBrandForm.brand.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Brand</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-7 control-label">Type</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="type" id="type" placeholder="Enter Type"
                                                ng-model='bt.type'>
                                            <div ng-messages="addBrandForm.$submitted && addBrandForm.brand.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Type</div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-7 control-label">Brand Image:</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="file" class="form-control"
                                                onchange="angular.element(this).scope().updateattachment()" id="file_browse"
                                                ngf-select placeholder="Choose Image" ng-model="bt.brand_img" >
                                            
                                        </div>
                                    </div><br>
                                    <div class="form-group">
                                        <button type="submit"class="btn btn-primary" style="margin: 0 auto; display: block;">Add Brand</button>
                                        <p ng-show="showaddbrandmsg" class="success_msg" style="text-align: center;">{{addbrandmsg}}</p>
                                        <p ng-show="showaddbrandsemsg" class="error_msg" style="text-align: center;">{{addbrandsemsg}}</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>


