<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row"> </div>
            <h2 class="table_heading">Add Promocode</h2>
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="">
                                <form name="userForm" data-ng-submit="addPromocode(userForm,promocode)" name="loginfrm" id="loginform" novalidate>
                                    <!-- <form role="form" name="exampleForm"  class="form-horizontal form-groups-bordered" required> -->
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Promocode Name</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="promocode" id="promocode" placeholder="Enter promocode name" ng-model='promocode.promocode' required>
                                            <div ng-messages="userForm.$submitted && userForm.promocode.$error" class="error_msg">
                                                <div ng-message="required">Enter the business name</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Discount(%)</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="discount" id="discount" placeholder="Enter discount" ng-model='promocode.discount' required>
                                            <div ng-messages="userForm.$submitted && userForm.discount.$error" class="error_msg">
                                                <div ng-message="required">Enter the discount</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Description</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="description" id="description" placeholder="Enter description" ng-model='promocode.description' required>
                                            <div ng-messages="userForm.$submitted &&  userForm.description.$error" class="error_msg">
                                                <div ng-message="required">Enter description</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                   <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Start Date</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="date" class="form-control" name="start_date" id="start_date" placeholder="Enter start date" ng-model='promocode.start_date' required>
                                            <div ng-messages="userForm.$submitted && userForm.start_date.$error" class="error_msg">
                                                <div ng-message="required">Enter business start date</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">End Date</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="date" class="form-control" name="end_date" id="start_date" placeholder="Enter end date" ng-model='promocode.end_date' required>
                                            <div ng-messages="userForm.$submitted && userForm.end_date.$error" class="error_msg">
                                                <div ng-message="required">Enter business end date</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                  
                                    
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                            <button type="submit" class="btn btn_back">Add Promocode</button>
                                            <p ng-show="showaddcatmsg" class="success_msg" style="text-align: center;">{{addcatmsg}}</p>
                                            <p ng-show="showaddcaterrrmsg" class="error_msg" style="text-align: center;">{{addcaterrrmsg}}</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>
