<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row"> </div>
            <h2 class="table_heading">Add basic Information</h2>
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="">
                                <form name="addBasicinfoform" data-ng-submit="addBasicinfoform.$valid && addBasicInfo(addBasicinfoform,Basicinfo)" name="loginfrm" id="loginform" novalidate>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Brand Name</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="brand_name" id="field-1" placeholder="Enter brand name" ng-model='Basicinfo.brandName' required>
                                            <div ng-messages="addBasicinfoform.$submitted &&  addBasicinfoform.brand_name.$error" class="error_msg">
                                                <div ng-message="required">Enter Brand Name</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">About</label>
                                        <div  class="col-sm-8" style="padding-bottom: 30px;">
                                             <text-angular  name="about" class="textAngular newseditor" placeholder="Enter About Information" ng-model="Basicinfo.about" required></text-angular>
                                            <div ng-messages="addBasicinfoform.$submitted && addBasicinfoform.about.$error" class="error_msg">
                                                <div ng-message="required">Enter About information </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Store Manager Email</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="email" class="form-control" name="storemangeremail" id="field-1" placeholder="Enter store manger email" ng-model='Basicinfo.storemanageremail' required>
                                            <div ng-messages="addBasicinfoform.$submitted &&  addBasicinfoform.storemangeremail.$error" class="error_msg">
                                                <div ng-message="required">Enter store manager email</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Admin Email</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="email" class="form-control" name="adminemail" id="field-1" placeholder="Enter brand name" ng-model='Basicinfo.adminemail' required>
                                            <div ng-messages="addBasicinfoform.$submitted &&  addBasicinfoform.adminemail.$error" class="error_msg">
                                                <div ng-message="required">Enter Admin Email</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-2" class="col-sm-3 control-label">Logo</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input accept="image/*" class="form-control" id="file_browse" onchange="angular.element(this).scope().updateattachment()" type="file" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="field-2" class="col-sm-3 control-label" ng-if="Basicinfo.brandlogo">Image</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <div id="fileDisplayArea" ng-if="Basicinfo.brandlogo">
                                                <img ng-src="{{Basicinfo.brandlogo}}" style="max-width: 100%;width: 330px;padding-left: 51px;">
                                                <br><br><span class="label label-primary pull-right" ng-click="clearImage()">Remove Image</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                            <button type="submit" class="btn btn_back">Add Info</button>
                                            <p ng-show="showaddbasicinfomsg" class="success_msg" style="text-align: center;font-size: medium;">{{addbasicinfomsg}}</p>
                                            <p ng-show="showaddbasicinfoerrmsg" class="error_msg" style="text-align: center;font-size: medium;">{{addbasicinfoerrmsg}}</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>
