<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <h2 class="table_heading">All Invoice Orders</h2>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-click="invoiceStatus()" style="display: initial;">
                        <div style="margin-top: 15px;">
                            <select class="form-control" ng-model="team.inv_status"
                                ng-change="selectedInvStatus(team.inv_status)"
                                ng-options="staff.inv_status as staff.inv_status for staff in invStatus | orderBy:'inv_status' track by staff.inv_status">
                                <option value="" selected data-default>All Selected Status</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12" ng-init="allOrders()">
                    <div class="panel panel-default table-hover table-responsive">
                        <div class="panel-heading"> </div>
                        <table class="table table-bordered table-striped datatable" id="table-2">
                            <thead class="thead-light">
                                <tr>
                                    <th>Inv No</th>
                                    <th>Date</th>
                                    <th>Client</th>
                                    <th>Total Price</th>
                                    <!-- <th>View Inv.</th> -->
                                    <th>Status</th>
                                    <th>Contact</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in orders |  orderBy: reverse:true">
                                    <td>{{product.id}}</td>
                                    <td>{{product.date | date:"dd-MM-yyyy"}}</td>
                                    <td ng-click='viewHistory(product.client_id)' style="cursor: pointer;">
                                        {{product.company_name}}</td>
                                    <td>{{product.total_price}}</td>
                                    <!-- <td ng-click="redirectViewInvoice(product.id,product.client_id)">
                                        <img src="../img/invoice.png" alt="invoice" style="height:45px">
                                    </td> -->
                                    <td>
                                        {{product.inv_status}}
                                        <!-- <form editable-form name="editableForm" onaftersave="updateInvStatus(product.inv_status,product.id)">
                                            <select editable-text="product.inv_status" e-name="inv_status" onbeforesave="checkName($data)" class="form-control" ng-model="product.inv_status"name="inv_status" style="width: 130px;">
                                                <option value="" selected data-default>Select</option>
                                                <option>Review - Order Needs To Be Reviewed</option>
                                                <option>Pending Shipment - Order Is Pending Goods</option>
                                                <option>Pending Payment - Order Is Pending Payment</option>
                                                <option>Ready For Inspection - Goods Are Ready At Warehouse</option>
                                                <option>Release To Warehouse Inventory</option>
                                                <option>Ship To Client</option>
                                            </select>
                                            <div class="buttons">
                                                <i class="fa fa-pencil" aria-hidden="true" ng-click="editableForm.$show()" ng-show="!editableForm.$visible"></i>
                                                <span ng-show="editableForm.$visible">
                                                    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting" style="padding:2px;margin: 2px 0px;">Save
                                                    </button>
                                                    <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()" style="padding:2px;">
                                                    Cancel
                                                    </button>
                                                </span>
                                            </div>
                                        </form>  -->
                                    </td>
                                    <td><a href="https://wa.me/{{ product.number}}" target="_blank"
                                            style="font-size:20px;color:#03ab1a;"><i class="fa fa-whatsapp"
                                                aria-hidden="true"></i></a>&nbsp;&nbsp;
                                        <a href="mailto:{{product.email}}?subject={{product.description}}"
                                            target="_blank" style="font-size:20px;color:#0089cc;"><i
                                                class="fa fa-envelope-o" aria-hidden="true"></i></a></td>
                                    <td>
                                        <a class="btn btn-default btn-sm btn-icon icon-left"
                                            ng-click='editInvoice(product.id,product.client_id)'>
                                            <i class="entypo-pencil"></i> Edit
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: center;font-size:25px;font-weight:600"><i ng-hide="orders"
                            class="fa fa-spinner" aria-hidden="true">
                            Page loading...</i></div>
                </div>
            </div>
            <!-- Footer -->
        </div>
    </div>

    <div class="modal fade" id="del_odr" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="img/delete.svg">
                    <h2>Confirm Delete ?</h2>
                    <br>
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="confirmOdrDel(delId)"
                            data-dismiss="modal" style="margin-left: 5px;">Delete</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>