<div>
	<div class="main_login">
		<form role="form" name="signinform" ng-submit="login(signinform,user)" class="form-horizontal form-groups-bordered login_form" novalidate>
			<div class="login_inner" style="margin-top: 100px;">
				<div class="card bg-light text-white text-center">
					<h4>Welcome To PARCELFROMINDIA</h4> 
				</div><br>
				<div class="card bg-info text-white">
					<div class="card-body">
						<hr>
							<div class="row">
								<div class="col"></div>
								<div class="col" style="text-align: left;">
									<div class="form-group">
										<label for="">Username</label>
										<input type="text" name="username" class="form-control" placeholder="Username" ng-model="user.username" required>
										<div ng-show="(signinform.username.$invalid && !signinform.username.$pristine) || signinform.$submitted" class="help-block1 has-error">
											<span ng-show="signinform.username.$error.required" class="help-block1 has-error" style="color:red">Username is required</span>						      
										 </div>
									</div>
			
									<div class="form-group">
										<label for="">Password</label>
										<input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" required>
										<div ng-show="(signinform.password.$invalid && !signinform.password.$pristine) || signinform.$submitted" class="help-block1 has-error">
											<span ng-show="signinform.password.$error.required" class="help-block1 has-error" style="color:red">Password is required</span>						      
										 </div>
									</div><hr>
									<div class="form-group text-center">
										<button 
										class="btn btn-default" 
										type="submit" ng-click="login(user)"
										>
										Login
									</button>
									<button type="button" class="btn btn-default " ng-click="reload()">Cancel</button>
									</div>							
								</div>
								<div class="col"></div>
							</div>
						<hr>
					</div>
				</div><br>
				<div class="card bg-light text-white text-center">
					<h5>admin@parcelfromindia.com</h5>
				</div>
			</div>				
		</form>
	</div>
</div>
	

