<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row"> </div>
            <h2 class="table_heading">User Details</h2>
            <div class="row">
                <div class="col-sm-12" ng-init="clientInfo()">
                    <div class="row">
                        <div class="col-sm-6" ng-repeat="user in clientData">
                            <div class="panel panel-default">
                                <div class="panel-heading"> </div>
                                <form role="form" class="form-horizontal form-groups-bordered">
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Name</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{user.name}}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Email Id</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{user.email_id}}</p>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Mobile Number</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{user.mobile_number}}</p>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Business Name</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{user.business_name}}</p>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Country</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{user.country}}</p>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                            <button ng-click="goto('users')" type="button" class="btn btn_back">Back</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row" >
                <div class="col-sm-6 col-md-6">
                    <h2>Client's Sell Stats</h2>
                    <br>    
                    <div class="row" >
                        <div class="col-md-6">
                            <h3>
                                {{ clientInSeller[0].name}}
                            </h3>
                            <h4>{{ clientInSeller[0].business_name}} </h4>
                        </div>
                        <div class="col-md-6">
                            <h3> <span>{{ clientInSeller[0].country_code }} </span><a href="https://wa.me/{{ clientInSeller[0].country_code }}{{ clientInSeller[0].number }}">{{ clientInSeller[0].number }}</a></h3>
                            <h4>  {{ clientInSeller[0].email }}</h4>
                        </div>
                    </div>
                    <br>

                    <div>
                        <table id="mytable" class="table table-bordred table-striped">
                            <tbody class="tdFont">
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Country</th>
                                        <th scope="col">Stock Location</th>
                                    </tr>
                                </thead>
                            <tbody>
                                <tr ng-repeat="sellerInfo in clientInSeller">
                                    <th scope="row">{{ sellerInfo.productName }}</th>
                                    <td>
                                        {{ sellerInfo.price }}
                                    </td>
                                    <td>
                                        {{ sellerInfo.qty }}
                                    </td>
                                    <td>
                                        {{ sellerInfo.business_country }}
                                    </td>
                                    <td>
                                        {{ sellerInfo.stock_location }}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
               

                <div class="col-sm-6 col-md-6">
                    <h2 class="table_heading">Client's Buy Stats</h2>
                    <br>
                    <div class="row" >
                        <div class="col-md-6">
                            <h3>{{ clientInBuyer[0].name }}</h3>
                            <h4>{{ clientInBuyer[0].business_name }}</h4>
                        </div>
                        <div class="col-md-6">
                            <h3> <span>{{ clientInBuyer[0].country_code }} </span><a href="https://wa.me/{{ clientInBuyer[0].country_code }}{{ clientInBuyer[0].number }}">{{ clientInBuyer[0].number }}</a></h3>
                            <h4> {{ clientInBuyer[0].email }}</h4>
                        </div>
                    </div>
                    <br>

                    <div>
                        <table id="mytable" class="table table-bordred table-striped">
                            <tbody class="tdFont">
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Country</th>
                                        <th scope="col">Stock Location</th>
                                    </tr>
                                </thead>
                            <tbody>
                                <tr ng-repeat="buyerInfo in clientInBuyer">
                                    <th scope="row">{{ buyerInfo.productName }}</th>
                                    <td>
                                        {{ buyerInfo.price }}
                                    </td>
                                    <td>
                                        {{ buyerInfo.qty }}
                                    </td>
                                    <td>
                                        {{ buyerInfo.business_country }}
                                    </td>
                                    <td>
                                        {{ buyerInfo.delivery_location }}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                  

                </div>

            </div>
            <!-- Footer -->
        </div>

    </div>

</div>