<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="table_heading">All Collections </h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary" ng-click="goto('/addcollection')"
                            style="margin-right: 150px; margin-top: 15px; float:right;">Add Collection</button>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12" ng-init="client2()">
                    <div class="panel panel-default table-hover table-responsive ">
                        <div class="panel-heading"> </div>
                        <table class="table table-bordered table-striped datatable" id="table-2">
                            <thead class="thead-light">
                                <tr>
                                    <th>Date</th>
                                    <th style="text-align: right;">Business Name</th>
                                    <th style="text-align: right;">Contact Person</th>
                                    <th style="text-align: right;">Address 1</th>
                                    <th style="text-align: center;">Address 2</th>
                                    <th style="text-align: right;">City</th>
                                    <th style="text-align: right;">Code</th>
                                    <th style="text-align: right;">Country</th>
                                    <th style="text-align: right;">Area</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="orders in clients |  orderBy: reverse:true">
                                    <td>{{orders.created_date}}</td>
                                    <td style="text-align: right;"> {{orders.company_name}}</td>
                                    <td style="text-align: right;"> {{orders.client_name}}</td>
                                    <td style="text-align: right;"> {{orders.address}}</td>
                                    <td style="text-align: center;">{{orders.address2}}</td>

                                    <td style="text-align: right;">{{orders.city }} </td>
                                    <td style="text-align: right;">{{orders.postalCode }} </td>
                                    <td style="text-align: right;">{{orders.country }} </td>
                                    <td style="text-align: right;">{{orders.area }} </td>
                                    <td>
                                        <a class=" btn btn-default btn-sm btn-icon icon-left"
                                            ng-click='editCollection(orders.id)'>
                                            <i class="entypo-pencil"></i> Edit
                                        </a>
                                        <a class="btn btn-danger btn-sm btn-icon icon-left" data-toggle="modal"
                                            data-target="#del_client" ng-click='collectionDel(orders.id)'>
                                            <i class="entypo-cancel"></i> Delete
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!-- Footer -->
        </div>
    </div>

    <div class="modal fade" id="del_client" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="img/delete.svg">
                    <br>
                    <h3 class="modal-title" id="lineModalLabel">Delete Collection?</h3>
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="confirmCollectiondel()"
                            data-dismiss="modal" style="margin-left: 5px;">Yes</button>
                    </div>
                    <h3 ng-show="cnfDelCollection" class="modal-title" id="lineModalLabel">{{delCollection}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>