<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="table_heading">Edit Category</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary" ng-click="goto('/categorylist')"
                            style="margin-right: 150px; margin-top: 15px; float:right;">Back</button>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div ng-init="getCategoryById()">
                                <form data-ng-submit="editProdCategory(cate, cate.id)" name="editBrandForm1"
                                    id="editBrandForm1" novalidate>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-7 control-label">Category name</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="name" id="name"
                                                placeholder="Enter Category name" ng-model='cate.category_name'>
                                            <!-- <div ng-messages="editBrandForm.$submitted && editBrandForm.brand.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Category</div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-7 control-label">Category small image:</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                                <div class="profile-editpic">    
                                                    <img ng-src="https://api.fountaintechies.com/assets/web/111/{{cate.category_small_img || 'xyz.jpg'}}">
                                                    <input type="file" accept="image/*" class="form-control" id="file_browse"
                                                    onchange="angular.element(this).scope().updateattachment()">
                                                       
                                                </div>
                                        </div>
                                    </div><br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-7 control-label">Ranking</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="ranking" id="ranking"
                                                placeholder="Enter Ranking" ng-model='cate.ranking'>
                                            <!-- <div ng-messages="editBrandForm.$submitted && editBrandForm.brand.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Ranking</div>
                                            </div> -->
                                        </div>
                                    </div><br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-7 control-label">Enable Or not</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="isEnabled" id="isEnabled"
                                                placeholder="Enter 0 or 1" ng-model='cate.isEnabled'>
                                            <!-- <div ng-messages="editBrandForm.$submitted && editBrandForm.brand.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Enable or not</div>
                                            </div> -->
                                        </div>
                                    </div><br>
                                    <br>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                            <button type="submit" class="btn btn_back">Update Category</button>
                                            <p ng-show="showaddproductsemsg" class="error_msg"
                                                style="text-align: center;">{{addproductsemsg}}</p>
                                            <p ng-show="showaddpromsg" class="success_msg"
                                                style="text-align: center;">{{addpromsg}}</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>