<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <h2 class="table_heading">Update Product</h2>
                </div>
                <div class="col-md-2">
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary" ng-click="goto('/products')"
                            style="margin-right: 20px; margin-top: 15px; float:right;">Back Product-List</button>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary" ng-click="goto('/wtb-list')"
                            style="margin-right: 20px; margin-top: 15px; float:right;">Back WTB-List</button>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6" ng-init="productByproductId()">
                            <div class="">
                                <form name="productForm" data-ng-submit="updateProduct(productForm,productData[0])"
                                    name="loginfrm" id="loginform" novalidate>
                                    <!-- <form role="form" name="exampleForm"  class="form-horizontal form-groups-bordered" required> -->
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Product Title</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="business_name"
                                                id="business_name" placeholder="Enter Business Name"
                                                ng-model='productData[0].description' required>
                                            <div ng-messages="productForm.$submitted && productForm.business_name.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter the business name</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Priority</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="priority"
                                                id="priority" placeholder="Enter Priority"
                                                ng-model='productData[0].priority' required>
                                            <div ng-messages="productForm.$submitted && productForm.priority.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Priority</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Product Color</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="color" id="color"
                                                placeholder="Enter Product Color" ng-model='productData[0].color'>
                                            <div ng-messages="productForm.$submitted && productForm.color.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Product Color</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Brand</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="category_alias" id="field-1"
                                                placeholder="Enter Host Name" ng-model='productData[0].brand' required>
                                            <div ng-messages="productForm.$submitted &&  productForm.host_name.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter host name</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Type</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="business_username"
                                                id="business_username" placeholder="Enter Username"
                                                ng-model='productData[0].product_type' required>
                                            <div ng-messages="productForm.$submitted && productForm.business_username.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter business username</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Selling Price</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="email_id" id="email_id"
                                                placeholder="Enter Email" ng-model='productData[0].selling_price'
                                                required>
                                            <div ng-messages="productForm.$submitted && productForm.selling_price.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter email</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Cost Price</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="business_address"
                                                id="business_address" placeholder="Enter Business Address"
                                                ng-model='productData[0].cost_price' required>
                                            <div ng-messages="productForm.$submitted && productForm.business_address.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter business address</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Markup</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="business_address"
                                                id="business_address" placeholder="Enter Business Address"
                                                ng-model='productData[0].markup' required>
                                            <div ng-messages="productForm.$submitted && productForm.business_address.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter business address</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Warehouse</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="business_address"
                                                id="business_address" placeholder="Enter Business Address"
                                                ng-model='productData[0].warehouse' required>
                                            <div ng-messages="productForm.$submitted && productForm.business_address.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter business address</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">EAN Number</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="ean_number" id="ean_number"
                                                placeholder="Enter EAN Number" ng-model='productData[0].ean_number'>
                                            <div ng-messages="productForm.$submitted && productForm.ean_number.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter EAN Number</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Spec</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="spec" id="spec"
                                                placeholder="Enter Spec" ng-model='productData[0].spec'>
                                            <div ng-messages="productForm.$submitted && productForm.spec.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Spec</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Grade</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="grade" id="grade"
                                                placeholder="Enter Grade" ng-model='productData[0].grade'>
                                            <div ng-messages="productForm.$submitted && productForm.spec.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Spec</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">SEO Title</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="seo_title" id="seo_title"
                                                placeholder="Enter SEO Title" ng-model='productData[0].seo_title'>
                                            <div ng-messages="productForm.$submitted && productForm.seo_title.$error"
                                                class="error_msg">
                                                <div ng-message="required">SEO Title</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">SEO Description</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="seo_description"
                                                id="seo_description" placeholder="Enter SEO Description"
                                                ng-model='productData[0].seo_description'>
                                            <div ng-messages="productForm.$submitted && productForm.seo_description.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter SEO Description</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">SEO Keywords</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="seo_keywords"
                                                id="seo_keywords" placeholder="Enter SEO Keywords"
                                                ng-model='productData[0].seo_keywords'>
                                            <div ng-messages="productForm.$submitted && productForm.seo_keywords.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter SEO Keywords</div>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">New Arrival</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="new_arrivals"
                                                id="new_arrivals" placeholder="Enter 1 or 0"
                                                ng-model='productData[0].new_arrivals'>
                                            <div ng-messages="productForm.$submitted && productForm.new_arrivals.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter 1 or 0</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">MOQ</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="moq" id="moq"
                                                placeholder="Enter MOQ" ng-model='productData[0].moq'>
                                            <div ng-messages="productForm.$submitted && productForm.moq.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter MOQ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Qty</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="qty" id="qty"
                                                placeholder="Enter QTY" ng-model='productData[0].qty'>
                                            <div ng-messages="productForm.$submitted && productForm.qty.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Qty</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Product's Amazon Price
                                        </label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="product_index_price_1"
                                                id="product_index_price_1" placeholder="Product's Flipkart Price"
                                                ng-model='productData[0].product_index_price_1'>
                                            <div ng-messages="productForm.$submitted && productForm.product_price_index_1.$error"
                                                class="error_msg">
                                                <div ng-message="required">Product's Amazon Price</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Product's Flipkart
                                            Price</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="product_index_price_2"
                                                id="product_index_price_2" placeholder="Enter Product's Flipkart Price"
                                                ng-model='productData[0].product_index_price_2'>
                                            <div ng-messages="productForm.$submitted && productForm.product_price_index_2.$error"
                                                class="error_msg">
                                                <div ng-message="required">Product's Flipkart Price</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Product's bhphotovideo
                                            Price</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="product_index_price_3"
                                                id="product_index_price_3" placeholder="Product's bhphotovideo Price"
                                                ng-model='productData[0].product_index_price_3'>
                                            <div ng-messages="productForm.$submitted && productForm.product_price_index_3.$error"
                                                class="error_msg">
                                                <div ng-message="required">Product's bhphotovideo Price</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Product's others
                                            Price</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="product_index_price_4"
                                                id="product_index_price_4" placeholder="Enter Product's others Price"
                                                ng-model='productData[0].product_index_price_4'>
                                            <div ng-messages="productForm.$submitted && productForm.product_price_index_4.$error"
                                                class="error_msg">
                                                <div ng-message="required">Product's others Price</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Product Number</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="product_number"
                                                id="product_number" placeholder="Enter Product Number"
                                                ng-model='productData[0].product_number'>
                                            <div ng-messages="productForm.$submitted && productForm.product_number.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Product Number</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Condition</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="	condition" id="	condition"
                                                placeholder="Enter Condition" ng-model='productData[0].	condition'>
                                            <div ng-messages="productForm.$submitted && productForm.	condition.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Condition</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Warranty Period</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="warranty_period"
                                                id="warranty_period" placeholder="Enter Warranty Period"
                                                ng-model='productData[0].warranty_period'>
                                            <div ng-messages="productForm.$submitted && productForm.warranty_period.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Warranty Period</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Packaging</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="packaging" id="packaging"
                                                placeholder="Enter Packaging" ng-model='productData[0].packaging'>
                                            <div ng-messages="productForm.$submitted && productForm.packaging.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Packaging</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Tech Support By </label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="tech_support_by"
                                                id="tech_support_by" placeholder="Enter Tech Support By"
                                                ng-model='productData[0].tech_support_by'>
                                            <div ng-messages="productForm.$submitted && productForm.tech_support_by.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Tech Support By</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Regulatory Approval</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="regulatory_approval"
                                                id="regulatory_approval" placeholder="Enter Regulatory Approval"
                                                ng-model='productData[0].regulatory_approval'>
                                            <div ng-messages="productForm.$submitted && productForm.regulatory_approval.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Regulatory Approval</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Country of Origin</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="country_of_origin"
                                                id="country_of_origin" placeholder="Enter Country of Origin"
                                                ng-model='productData[0].country_of_origin'>
                                            <div ng-messages="productForm.$submitted && productForm.country_of_origin.$error"
                                                class="error_msg">
                                                <div ng-message="required">Country of Origin</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Unit Dimensions</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="unit_dimensions"
                                                id="unit_dimensions" placeholder="Enter Unit Dimensions"
                                                ng-model='productData[0].unit_dimensions'>
                                            <div ng-messages="productForm.$submitted && productForm.unit_dimensions.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Unit Dimensions</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Each Unit Weighs</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="each_unit_weighs"
                                                id="each_unit_weighs" placeholder="Enter Each Unit Weighs"
                                                ng-model='productData[0].each_unit_weighs'>
                                            <div ng-messages="productForm.$submitted && productForm.each_unit_weighs.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Each Unit Weighs</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Each Master Box Has</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="each_master_box_has"
                                                id="each_master_box_has" placeholder="Enter Each Master Box Has"
                                                ng-model='productData[0].each_master_box_has'>
                                            <div ng-messages="productForm.$submitted && productForm.each_master_box_has.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Each Master Box Has</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Master Box Dims Are</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="master_box_dims_are"
                                                id="master_box_dims_are" placeholder="Enter Master Box Dims Are"
                                                ng-model='productData[0].master_box_dims_are'>
                                            <div ng-messages="productForm.$submitted && productForm.master_box_dims_are.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Master Box Dims Are</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Each Master Box
                                            Weighs</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="each_master_box_weighs"
                                                id="each_master_box_weighs" placeholder="Enter Each Master Box Weighs"
                                                ng-model='productData[0].each_master_box_weighs'>
                                            <div ng-messages="productForm.$submitted && productForm.each_master_box_weighs.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Each Master Box Weighs</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Each Pallet Has</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="each_pallet_has"
                                                id="each_pallet_has" placeholder="Enter Each Pallet Has"
                                                ng-model='productData[0].each_pallet_has'>
                                            <div ng-messages="productForm.$submitted && productForm.each_pallet_has.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Each Pallet Has</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Each Pallet
                                            Weighs</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="each_pallet_weighs"
                                                id="each_pallet_weighs" placeholder="Enter Each Pallet Weighs"
                                                ng-model='productData[0].each_pallet_weighs'>
                                            <div ng-messages="productForm.$submitted && productForm.each_pallet_weighs.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Each Pallet Weighs</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Specifications</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <textarea type="text" class="form-control" name="specifications"
                                                id="specifications" placeholder="Enter Specifications"
                                                ng-model='productData[0].specifications'></textarea>
                                            <div ng-messages="productForm.$submitted && productForm.specifications.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Specifications</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Includes</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <textarea type="text" class="form-control" name="includes" id="includes"
                                                placeholder="Enter Includes"
                                                ng-model='productData[0].includes'></textarea>
                                            <div ng-messages="productForm.$submitted && productForm.includes.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Includes</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Additional</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <textarea type="text" class="form-control" name="additional" id="additional"
                                                placeholder="Enter Additional"
                                                ng-model='productData[0].additional'></textarea>
                                            <div ng-messages="productForm.$submitted && productForm.additional.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Additional</div>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Image:</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="file" class="form-control"
                                                onchange="angular.element(this).scope().updateattachment()"
                                                id="file_browse" ngf-select placeholder="Choose Image"
                                                ng-model="productData[0].file">
                                            <div ng-messages="addProductForm.$submitted&& addProductForm.file_browse.$error"
                                                class="error_msg">
                                                <div ng-message="required">Choose Image</div>
                                            </div><br>

                                        </div>
                                    </div>
                                    <div class="form-group mr-b20 col-sm-6 col-md-6">
                                        <div ng-if="productData[0].product_image">
                                            <div id="fileDisplayArea" class="text-center">
                                                <img src="https://api.fountaintechies.com/assets/web/111/{{productData[0].product_image}}"
                                                    style="width: 225px;height: 295px;text-align: center;margin: 0 auto;display: block;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                            <button type="submit" class="btn btn_back">Update Product</button>
                                            <p ng-show="showuppromsg" class="success_msg" style="text-align: center;">
                                                {{uppromsg}}</p>
                                            <p ng-show="showupproductsemsg" class="error_msg"
                                                style="text-align: center;">{{upproductsemsg}}</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>