<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="table_heading">Edit Brand</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary" ng-click="goto('/brands')"
                            style="margin-right: 150px; margin-top: 15px; float:right;">Back</button>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div ng-init="brandById()">
                                <form data-ng-submit="updateBrand(editBrandForm,bt)" name="editBrandForm1"
                                    id="editBrandForm1" novalidate>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-7 control-label">Brand</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="brand" id="brand"
                                                placeholder="Enter Brand" ng-model='bt.brand'>
                                            <div ng-messages="editBrandForm.$submitted && editBrandForm.brand.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Brand</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-7 control-label">Type</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="type" id="type"
                                                placeholder="Enter Type" ng-model='bt.type'>
                                            <div ng-messages="editBrandForm.$submitted && editBrandForm.brand.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Type</div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-7 control-label">Brand image:</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                                <div class="profile-editpic">          
                                                    <img src="https://api.fountaintechies.com/assets/web/111/{{bt.brand_img}}">
                                                    <input type="file" accept="image/*" class="form-control" id="file_browse"
                                                    onchange="angular.element(this).scope().updateattachment()">
                                                       
                                                </div>
                                        </div>
                                    </div><br>


                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                            <button type="submit" class="btn btn_back">Update Brand</button>
                                            <p ng-show="showupdatebrandmsg" class="success_msg"
                                                style="text-align: center;">{{updatebrandmsg}}</p>
                                            <p ng-show="showupdatebrandsemsg" class="error_msg"
                                                style="text-align: center;">{{updatebrandsemsg}}</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>