<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="table_heading">Want To Sell</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary" ng-click="goto('/wts-list')" style="margin-right: 150px; margin-top: 15px; float:right;">Back</button>

                    </div>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8">
                            <form name="poForm" data-ng-submit="updatePurchaseOrder(poForm,purchaseOrderWTSData)"
                                name="poForm" id="poForm" novalidate ng-init="wtsById()">
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Client</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="client" id="client"
                                            placeholder="Enter Client" ng-model='purchaseOrderWTSData.client'>
                                        <div ng-messages="poForm.$submitted && poForm.client.$error" class="error_msg">
                                            <div ng-message="required">Enter Client</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Product Title</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="product_title" id="product_title"
                                            placeholder="Enter Product Title" ng-model='purchaseOrderWTSData.product_title'>
                                        <div ng-messages="poForm.$submitted && poForm.product_title.$error" class="error_msg">
                                            <div ng-message="required">Enter Product Title</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Product Type</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="product_type" id="product_type"
                                            placeholder="Enter Product Type" ng-model='purchaseOrderWTSData.product_type'>
                                        <div ng-messages="poForm.$submitted && poForm.product_type.$error" class="error_msg">
                                            <div ng-message="required">Enter Product Type</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Brand</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="brand" id="brand" placeholder="Enter Brand"
                                            ng-model='purchaseOrderWTSData.brand'>
                                        <div ng-messages="poForm.$submitted && poForm.brand.$error" class="error_msg">
                                            <div ng-message="required">Enter Brand</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">EAN Number</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="ean_number" id="ean_number"
                                            placeholder="Enter EAN Number" ng-model='purchaseOrderWTSData.ean_number'>
                                        <div ng-messages="poForm.$submitted && poForm.ean_number.$error" class="error_msg">
                                            <div ng-message="required">Enter EAN Number</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Color</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="color" id="color"
                                            placeholder="Enter Color" ng-model='purchaseOrderWTSData.color'>
                                        <div ng-messages="poForm.$submitted && poForm.color.$error" class="error_msg">
                                            <div ng-message="required">Enter Color</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Qty</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="qty" id="qty" placeholder="Enter Qty"
                                            ng-model='purchaseOrderWTSData.qty'>
                                        <div ng-messages="poForm.$submitted && poForm.qty.$error" class="error_msg">
                                            <div ng-message="required">Enter Qty</div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Selling Price</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="selling_price" id="selling_price"
                                            placeholder="Enter Selling Price" ng-model='purchaseOrderWTSData.selling_price'
                                            required>
                                        <div ng-messages="poForm.$submitted && poForm.selling_price.$error" class="error_msg">
                                            <div ng-message="required">Enter Selling Price</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Warehouse</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="warehouse" id="warehouse"
                                            placeholder="Enter Warehouse" ng-model='purchaseOrderWTSData.warehouse'
                                            required>
                                        <div ng-messages="poForm.$submitted && poForm.warehouse.$error" class="error_msg">
                                            <div ng-message="required">Enter Warehouse</div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-8">
                                        <button type="submit" class="btn btn_back">Submit</button>
                                        <p ng-show="showuppromsg" class="success_msg" style="text-align: center;">{{uppromsg}}</p>
                                        <p ng-show="showupdateproerrmsg" class="error_msg" style="text-align: center;">{{updateproerrmsg}}</p>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>