<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row"> </div>
            <h2 class="table_heading">Edit User</h2>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8" ng-init="userByUserId()">
                            <form name="clientForm" data-ng-submit="updateuser(clientForm,user)" name="loginfrm" id="loginform"
                                novalidate>
                                <!-- <form role="form" name="exampleForm"  class="form-horizontal form-groups-bordered" required> -->
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Business Id</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <p type="text" class="form-control" name="business_id" id="business_id"
                                            placeholder="Enter Business Id" ng-model='user.id'>
                                            {{user.id}}</p>
                                        <div ng-messages="clientForm.$submitted && clientForm.business_id.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter the business Id</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Priority</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="priority" id="priority"
                                            placeholder="Enter Priority" ng-model='user.priority' required>
                                        <div ng-messages="clientForm.$submitted && clientForm.priority.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter the Priority</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Business Name</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="company_name" id="company_name"
                                            placeholder="Enter Business Name" ng-model='user.company_name' required>
                                        <div ng-messages="clientForm.$submitted &&  clientForm.company_name.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter Business Name</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Contact Number</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="contact" id="contact"
                                            placeholder="Enter Contact" ng-model='user.contact' required>
                                        <div ng-messages="clientForm.$submitted && clientForm.contact.$error" class="error_msg">
                                            <div ng-message="required">Enter business username</div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="email" id="email" placeholder="Enter Email"
                                            ng-model='user.email' required>
                                        <div ng-messages="clientForm.$submitted && clientForm.email.$error" class="error_msg">
                                            <div ng-message="required">Enter email</div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Website</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="website" id="website"
                                            placeholder="Enter Website" ng-model='user.website'>
                                        <div ng-messages="clientForm.$submitted && clientForm.website.$error" class="error_msg">
                                            <div ng-message="required">Enter Website</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Tags</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="tags" id="tags" placeholder="Enter Tags"
                                            ng-model='user.tags'>
                                        <div ng-messages="clientForm.$submitted && clientForm.tag.$error" class="error_msg">
                                            <div ng-message="required">Enter Tags</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Notes</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="notes" id="notes" placeholder="Enter Notes"
                                            ng-model='user.notes'>
                                        <div ng-messages="clientForm.$submitted && clientForm.notes.$error" class="error_msg">
                                            <div ng-message="required">Enter Notes</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Country</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="country" id="country"
                                            placeholder="Enter Country" ng-model='user.country' required>
                                        <div ng-messages="clientForm.$submitted && clientForm.country.$error" class="error_msg">
                                            <div ng-message="required">Enter Country</div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-8">
                                        <button type="submit" class="btn btn_back">Update User</button>
                                        <p ng-show="showupdateClient" class="success_msg" style="text-align: center;">{{updateClient}}</p>
                                        <p ng-show="showupdateerrclientmsg" class="error_msg" style="text-align: center;">{{updateerrclientmsg}}</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>