<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row"> </div>
            <h2 class="table_heading">Edit collection</h2>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8" ng-init="collectionById()">
                            <form name="clientForm" data-ng-submit="updateCollection(clientForm,user)" name="loginfrm"
                                id="loginform" novalidate>
                                <!-- <form role="form" name="exampleForm"  class="form-horizontal form-groups-bordered" required> -->
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Contact Person</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="contactPerson" id="contactPerson"
                                            placeholder="Enter Contact Person" ng-model='user.client_name' required>
                                        <div ng-messages="clientForm.$submitted && clientForm.client_name.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter Contact Person</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Business Name</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="businessName" id="businessName"
                                            placeholder="Enter Business Name" ng-model='user.company_name' required>
                                        <div ng-messages="clientForm.$submitted && clientForm.company_name.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter Business name</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Address 1</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="address1" id="address1"
                                            placeholder="Enter Address 1" ng-model='user.address' required>
                                        <div ng-messages="clientForm.$submitted && clientForm.address1.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter Address 1</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Address 2</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="address2" id="address2"
                                            placeholder="Enter Address 2" ng-model='user.address2' required>
                                        <div ng-messages="clientForm.$submitted && clientForm.address2.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter Address 2</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">City</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="city" id="city"
                                            placeholder="Enter city" ng-model='user.city' required>
                                        <div ng-messages="clientForm.$submitted && clientForm.city.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter City</div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Code</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="postalCode" id="postalCode"
                                            placeholder="Enter code" ng-model='user.postalCode' required>
                                        <div ng-messages="clientForm.$submitted && clientForm.postalCode.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter Code</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Area</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="area" id="area"
                                            placeholder="Enter Area" ng-model='user.area' required>
                                        <div ng-messages="clientForm.$submitted && clientForm.area.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter Area</div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Country</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="country" id="country"
                                            placeholder="Enter Country" ng-model='user.country'>
                                        <div ng-messages="clientForm.$submitted && clientForm.country.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter Country</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Contact</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="contact" id="contact"
                                            placeholder="Enter Contact" ng-model='user.contact' required>
                                        <div ng-messages="clientForm.$submitted && clientForm.contact.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter Contact</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8" style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="email" id="email"
                                            placeholder="Enter Email" ng-model='user.email' required>
                                        <div ng-messages="clientForm.$submitted && clientForm.email.$error"
                                            class="error_msg">
                                            <div ng-message="required">Enter EMail</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-8">
                                        <button type="submit" class="btn btn_back">Update Collection</button>
                                        <p ng-show="showupdateClient" class="success_msg" style="text-align: center;">
                                            {{updateClient}}</p>
                                        <p ng-show="showupdateerrclientmsg" class="error_msg"
                                            style="text-align: center;">{{updateerrclientmsg}}</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>