<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row"> </div>
            <h2 class="table_heading">Footer Style Setting </h2>
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="">
                                <form name="headersettingForm" data-ng-submit="headersettingForm.$valid && updatefooterstyle()" name="loginfrm" id="loginform" novalidate>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Footer background color</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="footercol" id="field-1" placeholder="Enter footer color" ng-model='basicsInfodetails.footerColor' required>
                                            <div ng-messages="headersettingForm.$submitted &&  headersettingForm.footercol.$error" class="error_msg">
                                                <div ng-message="required">Enter background footer color</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                     <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Footer Text color</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="headerTextCol" id="field-1" placeholder="Enter footer text color" ng-model='basicsInfodetails.footerTextColor' required>
                                            <div ng-messages="headersettingForm.$submitted &&  headersettingForm.headerTextCol.$error" class="error_msg">
                                                <div ng-message="required">Enter footer text color</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                            <button type="submit" class="btn btn_back">Update</button>
                                            <p ng-show="showupdfoterstylemsg" class="success_msg" style="text-align: center;font-size: medium;">{{updfoterstylemsg}}</p>
                                            <p ng-show="showupdfoterstyleerrmsg" class="error_msg" style="text-align: center;font-size: medium;">{{updfoterstyleerrmsg}}</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

    </div>

</div>
