<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="table_heading">Product Inquiry List</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <!-- <button type="button" class="btn btn-primary" ng-click="goto('/wtb')"
                            style="margin-right: 20px; margin-top: 15px; float:right;">Add
                            WTB</button> -->
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12" ng-init="allInquiries()">
                    <div class="row">
                        <div class="col-sm-12 md">
                            <div class="panel panel-default table-responsive">
                                <div class="panel-heading"> </div>
                                <table class="table table-bordered table-striped datatable" id="table-2">
                                    <thead>
                                        <tr>
                                            <th>Client Id</th>
                                            <th style="width: 7%;">Date</th>
                                            <th>Client</th>
                                            <th>Query</th>
                                            <th>Brand</th>
                                            <th>Type</th>
                                            <th>Title</th>
                                            <th>Price</th>
                                            <th>EAN Number</th>
                                            <th style="width:9%;">Action</th>
                                        </tr>
                                    <tbody>
                                        </thead>
                                        <tr ng-repeat="wtb in wtbLists |  orderBy: reverse:true">
                                            <td>{{wtb.client_id}}</td>
                                            <td>{{wtb.date}}</td>
                                            <td>{{wtb.client}}</td>
                                            <td>{{wtb.notes}}</td>
                                            <td>{{wtb.brand}}</td>
                                            <td>{{wtb.product_type}}</td>
                                            <td>{{wtb.product_title}}</td>
                                            <td>${{wtb.price}}</td>
                                            <td>{{wtb.ean_number}}</td>
                                            <td>
                                                <a class="btn btn-default btn-sm btn-icon icon-left"
                                                    ng-click='editInquiry(wtb.id)'>
                                                    <i class="entypo-pencil"></i> Edit
                                                </a>

                                                <a class="btn btn-info btn-sm btn-icon icon-left"
                                                    ng-click='viewInquiry(wtb.id)'>
                                                    <i class="entypo-info"></i> View
                                                </a>
                                                <a class="btn btn-info btn-sm btn-icon icon-left" data-toggle="modal"
                                                    data-target="#del_po" ng-click='poDelWTB(wtb.id)'>
                                                    <i class="entypo-cancel"></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <p ng-show="showdeletemsgmsg" class="success_msg">{{deletemsg}}</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>
    </div>

    <div class="modal fade" id="del_po" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="img/delete.svg">
                    <h2>Confirm Delete ?</h2>
                    <br>

                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="confirmPoDelWTB(wts.id)"
                            data-dismiss="modal" style="margin-left: 5px;">Delete</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>