    <div>
            <div class="page-container">
                <header ng-include="'partials/left_menu.html'"></header>
                <div class="main-content">
                    <header ng-include="'partials/user_menu.html'"></header>
                    <hr />
                    <div class="row"> </div>
                    <h2 class="table_heading">Stock Information</h2>
                    <div class="add_btn_container" style="margin-left: -60px;">
                            <button class="btn btn-success" type="button" ng-click="goto('stockList')">Back</button>
                        </div>
                    <div class="row contL">
                            <div class="col-sm-12" ng-controller="StockController" ng-init="productByProductName()">
                                <div class="row">
                                    <div class="container-fluid pad3p">
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <h2>{{ productData[0].item_name }}</h2>
                                                <div class="col-md-6 table-responsive boxS"  >
                                                    <h2>Seller</h2>
                                                    <div >           
                                                            <table id="mytable" class="table table-bordred table-striped">
                                                                <tbody class="tdFont">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">Seller Name</th>
                                                                            <th scope="col">Seller Number</th>
                                                                            <th scope="col">Price</th>
                                                                            <th scope="col">Qty</th> 
                                                                        </tr>
                                                                    </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="sellerInfo in sellerData">
                                                                        <th scope="row"><a ng-click="userDetails( sellerInfo.seller_id )"><strong>{{ sellerInfo.name}}</strong></a></th>
                                                                        <td><span>{{ sellerInfo.country_code }} </span><a href="https://wa.me/{{ sellerInfo.country_code }}{{ sellerInfo.number }}">{{ sellerInfo.number }}</a></td>
                                                                        <td>{{ sellerInfo.price }}</td>
                                                                        <td>{{ sellerInfo.qty }}</td>                                                                                                                           
                                                                    </tr>                  
                                                                </tbody>
                                                            </table>           
                                                    </div>                                                  
                                                </div>
                                               
                                                <div class="col-md-6 table-responsive boxS" ng-controller="StockController" ng-init="productByProductName()" >
                                                    <h2>Buyer</h2>
                                                    <div > 
                                                            <table id="mytable" class="table table-bordred table-striped">
                                                                <tbody class="tdFont">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">Price</th>
                                                                            <th scope="col">Qty</th>
                                                                            <th scope="col">Buyer Number</th>
                                                                            <th scope="col">Buyer Name</th>
                                                                        </tr>
                                                                    </thead>
                                                                <tbody>
                                                                    <tr  ng-repeat="buyerInfo in buyerData">
                                                                        <th scope="row">{{ buyerInfo.price }}</th>
                                                                        <td>{{ buyerInfo.qty }}</td>
                                                                        <td><span>{{ buyerInfo.country_code }} </span><a href="https://wa.me/{{ buyerInfo.country_code }}{{ buyerInfo.number }}">{{ buyerInfo.number }}</a></td>
                                                                        <td><a ng-click="userDetails( buyerInfo.buyer_id )"><strong>{{ buyerInfo.name }}</strong></a> </td>
                                                                    </tr>
                    
                                                                </tbody>
                                                            </table>
            
                                                    </div>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    <!-- Footer --> 
                </div> 
            </div>
        
           
        </div>
        
    