<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="table_heading">Lead No: {{order.wtb_lead_id}}</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary" ng-click="goto('/allOrders')"
                            style="margin-right: 150px; margin-top: 15px; float:right;">Back</button>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <form name="updateOrderForm" data-ng-submit="updateOrder(updateOrderForm,order)"
                                    name="updateOrderForm" id="updateOrderForm" novalidate ng-init="orderById()">
                                   
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Client</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="clients" id="clients"
                                                placeholder="Enter Clients" ng-model='order.clients'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.clients.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Clients</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Contact Number</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="number" id="number"
                                                placeholder="Enter Contact Number" ng-model='order.number'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.number.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Contact Number</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="email" id="email"
                                                placeholder="Enter Email" ng-model='order.email'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.email.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Email</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Product Type</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="product_type" id="product_type"
                                                placeholder="Enter Product Type" ng-model='order.product_type'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.product_type.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Product Type</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Product Title</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="description" id="description"
                                                placeholder="Enter Product Type" ng-model='order.description'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.description.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Product Title</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Our Price</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="selling_price"
                                                id="selling_price" placeholder="Enter Price"
                                                ng-model='order.selling_price'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.selling_price.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Price</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Qty</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="order_qty" id="order_qty"
                                                placeholder="Enter Qty" ng-model='order.order_qty'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.qty.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Qty</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Total Price</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="total_price"
                                                id="total_price" placeholder="Enter Total Price"
                                                ng-model='order.total_price'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.total_price.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Total Price</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Status</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <select class="form-control" ng-model="order.status" name="status">
                                                <option value="" selected data-default disabled>Status</option>
                                                <option>Data Collected</option>
                                                <option>Negotiation Started</option>
                                                <option>Order Placed</option>
                                                <option>Pending</option>
                                                <option>Operations</option>
                                                <option>Delivered</option>
                                                <option>Lost</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Team Member</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <select class="form-control" ng-model="order.team_member">
                                                <option value="" selected data-default disabled>Staff Member</option>
                                                <option>Amol</option>
                                                <option>Manisha</option>
                                                <option>Sneha</option>
                                                <option>Jeni</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Date</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="date"
                                                id="date" placeholder="Enter Date"
                                                ng-model='order.date'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.date.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Date</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <!-- <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Order Date</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="order_date" id="order_date"
                                                placeholder="Enter Order Date" ng-model='order.order_date'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.order_date.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Order Date</div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Weight</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="weight" id="weight"
                                                placeholder="Enter Weight" ng-model='order.weight'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.qty.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Weight</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Package Size</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="package_size"
                                                id="package_size" placeholder="Enter Package Size"
                                                ng-model='order.package_size'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.package_size.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Package Size</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">No Of Packages</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="no_of_packages"
                                                id="no_of_packages" placeholder="Enter No Of Packages"
                                                ng-model='order.no_of_packages'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.qty.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter No Of Packages</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Package Height</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="package_height"
                                                id="package_height" placeholder="Enter Package Height"
                                                ng-model='order.no_of_packages'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.package_height.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Package Height</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Package Width</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="package_width"
                                                id="package_width" placeholder="Enter Package Width"
                                                ng-model='order.package_width'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.package_width.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Package Width</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Package Length</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="package_length"
                                                id="package_length" placeholder="Enter Package Length"
                                                ng-model='order.package_length'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.package_height.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Package Height</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Ship From Address 1</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="ship_from_addr1"
                                                id="ship_from_addr1" placeholder="Enter Ship From Address 1"
                                                ng-model='order.ship_from_addr1'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.ship_from_addr1.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Ship From Address 1</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Ship From Address 2</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="ship_from_addr2"
                                                id="ship_from_addr1" placeholder="Enter Ship From Address 2"
                                                ng-model='order.ship_from_addr2'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.ship_from_addr2.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Ship From Address 2</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Ship From State</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="ship_from_state"
                                                id="ship_from_state" placeholder="Enter Ship From State"
                                                ng-model='order.ship_from_state'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.ship_from_state.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Ship From State</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Ship From City</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="ship_from_city"
                                                id="ship_from_city" placeholder="Enter Ship From City"
                                                ng-model='order.ship_from_city'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.ship_from_city.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Ship From City</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Ship From Postal
                                            Code</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="ship_from_postalcode"
                                                id="ship_from_postalcode" placeholder="Enter Ship From Postal Code"
                                                ng-model='order.ship_from_postalcode'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.ship_from_postalcode.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Ship From Postal Code</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Ship To Address 1</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="ship_to_addr1"
                                                id="ship_to_addr1" placeholder="Enter Ship To Address 1"
                                                ng-model='order.ship_to_addr1'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.ship_to_addr1.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Ship To Address 1</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Ship To Address 2</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="ship_to_addr2"
                                                id="ship_from_addr1" placeholder="Enter Ship To Address 2"
                                                ng-model='order.ship_to_addr2'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.ship_to_addr2.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Ship To Address 2</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Ship To State</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="ship_to_state"
                                                id="ship_to_state" placeholder="Enter Ship To State"
                                                ng-model='order.ship_to_state'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.ship_to_state.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Ship To State</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Ship To City</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="ship_to_city"
                                                id="ship_to_city" placeholder="Enter Ship to City"
                                                ng-model='order.ship_to_city'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.ship_to_city.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Ship To City</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Ship To Postal
                                            Code</label>
                                        <div class="col-sm-5" style="padding-bottom: 10px;">
                                            <input type="text" class="form-control" name="ship_to_postalcode"
                                                id="ship_to_postalcode" placeholder="Enter Ship From Postal Code"
                                                ng-model='order.ship_to_postalcode'>
                                            <div ng-messages="updateOrderForm.$submitted && updateOrderForm.ship_to_postalcode.$error"
                                                class="error_msg">
                                                <div ng-message="required">Enter Ship To Postal Code</div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                            <button type="submit" class="btn btn_back">Submit</button>
                                            <p ng-show="showuppromsg" class="success_msg" style="text-align: center;">
                                                {{uppromsg}}</p>
                                            <p ng-show="showupdateproerrmsg" class="error_msg"
                                                style="text-align: center;">{{updateproerrmsg}}</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>