<div class="page-container">
    <header ng-include="'partials/left_menu.html'"></header>
    <div class="main-content">
        <header ng-include="'partials/user_menu.html'"></header>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <h2 class="table_heading">Outgoing Shpping List</h2>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-click="outgoingStatus()" style="display: initial;">
                    <div style="margin-top: 15px;">
                        <select class="form-control" ng-model="team.ship_status"
                            ng-change="selectedOutStatus(team.ship_status)"
                            ng-options="staff.ship_status as staff.ship_status for staff in outStatus | orderBy:'ship_status' track by staff.ship_status">
                            <option value="" selected data-default>All Selected Status</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12" ng-init="getShipping()">
                <div class="panel panel-default table-hover table-responsive">
                    <div class="panel-heading"> </div>
                    <table class="table table-bordered table-striped datatable" id="table-2">
                        <thead class="thead-light">
                            <tr>
                                <th>Inv No</th>
                                <th>Shipping No.</th>
                                <th>Bill To</th>
                                <th>Ship To</th>
                                <th style="width:10%">Packing List</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in allShippinglist |  orderBy: 'inv_number':true " style="text-align: center">
                                <td ng-click="redirectViewInvoice(product.inv_number,product.c_id)" style="cursor:pointer">{{product.inv_number}}</td>
                                <td>{{product.ship_no}}</td>
                                <td><h4 ng-click="viewHistory(product.c_id)" style="cursor: pointer;">{{product.company_name}}</h4></td>
                                <td>
                                    <form editable-form name="editableForm" onaftersave="updateClientAddr(product.c_id,product.address)">
                                        <div >
                                            <span editable-text="product.address" e-name="address" onbeforesave="checkName($data)">{{ product.address || 'Empty Address' }}</span>
                                        </div>
                                        <div class="buttons">
                                            <i class="fa fa-pencil" aria-hidden="true" ng-click="editableForm.$show(product.address)" ng-show="!editableForm.$visible"></i>
                                            <span ng-show="editableForm.$visible">
                                                <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting" style="padding:2px;margin: 2px 0px;">Save
                                                </button>
                                                <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()" style="padding:2px;">
                                                Cancel
                                                </button>
                                            </span>
                                        </div>
                                    </form> 
                                </td>
                                <td ng-click="redirectInvPacking(product.inv_number,product.c_id)">
                                    <img src="../img/packing.png" alt="packing" style="width:30%">
                                </td>
                                <td>
                                    <form editable-form name="editableForm" onaftersave="updateOutStatus(product.inv_number,product.ship_status)">
                                        <!-- <div>
                                            <span id="textC" editable-text="product.ship_status" e-name="ship_status" onbeforesave="checkName($data)" >{{ product.ship_status || 'Add Status' }}</span>
                                        </div> -->
                                        <select editable-text="product.ship_status" e-name="ship_status" onbeforesave="checkName($data)" class="form-control" ng-model="product.ship_status"name="ship_status" style="width: 130px;">
                                            <option value="" selected data-default>Select</option>
                                            <option>Review - Order Needs To Be Reviewed</option>
                                            <option>Pending Shipment - Order Is Pending Goods</option>
                                            <option>Pending Payment - Order Is Pending Payment</option>
                                            <option>Ready For Inspection - Goods Are Ready At Warehouse</option>
                                            <option>Release To Warehouse Inventory</option>
                                            <option>Ship To Client</option>
                                        </select>
                                        <div class="buttons">
                                            <i class="fa fa-pencil" aria-hidden="true" ng-click="editableForm.$show()" ng-show="!editableForm.$visible"></i>
                                            <span ng-show="editableForm.$visible">
                                                <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting" style="padding:2px;margin: 2px 0px;">Save
                                                </button>
                                                <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()" style="padding:2px;">
                                                Cancel
                                                </button>
                                            </span>
                                        </div>
                                    </form> 
                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm btn-icon icon-left" data-toggle="modal"
                                        data-target="#del_odr" ng-click='outDelete(product.inv_number)'>
                                        <i class="entypo-cancel"></i> Delete
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="text-align: center;font-size:25px;font-weight:600"><i ng-hide="allShippinglist" class="fa fa-spinner" aria-hidden="true">
                    Page loading...</i></div>
            </div>
        </div>
        <!-- Footer -->
    </div>
</div>

<div class="modal fade" id="del_odr" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 225px auto;">
        <div class="modal-content delete">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <img src="img/delete.svg">
                <h2>Confirm Delete ?</h2>
                <br>
                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        style="padding:7px 20px;">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="outShippDel()"
                        data-dismiss="modal" style="margin-left: 5px;">Delete</button>

                </div>
            </div>
        </div>
    </div>
</div>
