<div>
    <div class="navbar-fixed-top" ng-include="getTopMenu()"></div>
</div>
<div style="margin-top: 50px;">
  <div class="page-container">
      <header ng-include="'partials/left_menu.html'"></header>
      <div class="main-content">
      <!-- <header ng-include="'partials/parcel_menu.html'"></header> -->
      <div class="row" style="padding: 20px 10px;"> 
          <div class="col-sm-6" style="display: flex; align-items: center;"> <h3 style="margin: 0;" class="table_heading">Parcel History</h3> </div>
          <div class="col-sm-6" style="display: flex; align-items: center;justify-content: flex-end;">  <button type="button" class="btn btn-primary" data-toggle="modal"
              data-target="#modal_addoverview" style="margin-top: 15px;">Add
              Parcel History</button> 
          </div>  
      </div>
      <div class="col-sm-12 col-md-12">
          <div class="row" ng-init="productTrackingById()">
              <br>
              <div class="panel panel-default table-hover table-responsive">
                  <table id="overViewtable" class="table table-bordred table-striped">
                      <tbody class="tdFont">
                          <thead style="background: #dedede;font-size: 15px;" class="thead-light">
                              <tr>
                                  <th scope="col">Booking No</th>
                                  <th scope="col">Location</th>
                                  <th scope="col">Message</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Staff</th>
                    
                              </tr>
                          </thead>
                      <tbody>
                          <tr ng-repeat="parcelH in parcelhistoryData">
                              <td>{{ parcelH.booking_no }}</td>

                              <td>{{ parcelH.location }}</td>
                              <td>{{ parcelH.message }}</td>
                              <td>{{ getDate(parcelH.date) }}</td>
                              <td>{{ parcelH.staff}}</td>

                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>





      <div class="modal fade" id="modal_addoverview" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
      aria-hidden="true">
          <div class="modal-dialog" style="margin: 225px auto;">
              <div class="modal-content">
                  <div class="modal-header" style="border:none;">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body text-center" style="height:350px;">
                      <form name="overviewForm" data-ng-submit="addParcelHistory(overviewForm,overviewData)"
                          name="overviewForm" id="overviewForm" novalidate>
                          <div class="form-group">
                              <label for="field-1" class="col-sm-3 control-label" style="text-align:right">Location</label>
                              <div class="col-sm-8" style="padding-bottom: 10px;">
                                  <input type="text" class="form-control" name="location" id="location1"
                                      placeholder="Enter location" ng-model='overviewData.location'>
                                  <div ng-messages="overviewForm.$submitted && overviewForm.location.$error" class="error_msg">
                                      <div ng-message="required">Enter Location</div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                                  <label for="field-1" class="col-sm-3 control-label" style="text-align:right">Date And Time</label>
                                  <div class="col-sm-8" style="padding-bottom: 10px;">
                                      <input type="date" class="form-control" name="date" id="date1"
                                          placeholder="Enter date" ng-model='overviewData.date'>
                                          <br>
                                          <input type="time" class="form-control" name="date" id="date1"
                                          placeholder="Enter date" ng-model='overviewData.time'>
                                      <div ng-messages="overviewForm.$submitted && overviewForm.date.$error" class="error_msg">
                                          <div ng-message="required">Enter Date(2021-03-17)</div>
                                      </div>
                                  </div>
                              </div>
                          <br>
                              <div class="form-group">
                                  <label for="field-1" class="col-sm-3 control-label" style="text-align:right">Message</label>
                                  <div class="col-sm-8" style="padding-bottom: 10px;">
                                      <textarea type="text" class="form-control" name="message" id="message" rows="5"
                                          cols="50" placeholder="Enter Message"
                                          ng-model='overviewData.message'>Message</textarea>
                                      <div ng-messages="overviewForm.$submitted && overviewForm.message.$error" class="error_msg">
                                          <div ng-message="required">Enter Message</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="field-1" class="col-sm-3 control-label" style="text-align:right">Staff</label>
                                  <div class="col-sm-8" style="padding-bottom: 10px;">
                                      <select editable-text="overviewData.staff"  e-name="staff"  class="form-control" ng-model="overviewData.staff"name="staff" style="width: 130px;">
                                          <option value="" selected data-default>Select</option>
                                          <option>Amol </option>
                                          <option>Pavan</option>
                                          <option>Sneha</option>
                                          <option>Manisha</option>
                                          <option>Barsha</option>
                                          <option>Ajay</option>
                                      </select>         
                                      <div ng-messages="overviewForm.$submitted && overviewForm.message.$error" class="error_msg">
                                          <div ng-message="required">Select staff</div>
                                      </div>
                                  </div>
                              </div>
                             
                              <br>
                              <div class="form-group">
                                  <div class="col-sm-offset-3 col-sm-5">
                                      <button type="submit" class="btn btn-primary">Submit</button>
                                      <button type="button" class="btn btn-default" data-dismiss="modal"
                                          style="padding:7px 20px;">Cancel</button>
                                      <p ng-show="showaddpromsg" class="success_msg" style="text-align: center;">{{addpromsg}}
                                      </p>
                                      <p ng-show="showaddproductsemsg" class="error_msg" style="text-align: center;">
                                          {{addproductsemsg}}</p>
                                  </div>
                              </div>
                      </form>
                  </div>
              </div>
              </div>
              </div>
              <!--Here add parcel history finished-->
              <div class="row" style="padding: 20px 10px;"> 
                  <div class="col-sm-6" style="display: flex; align-items: center;"> <h3 style="margin: 0;" class="table_heading">Parcel Tracking</h3> </div>
                  <div class="col-sm-6" style="display: flex; align-items: center;justify-content: flex-end;">  <button type="button" class="btn btn-primary" data-toggle="modal"
                      data-target="#modal_addtracking" style="margin-top: 15px;">Add
                      Parcel Tracking</button> 
                  </div>  
              </div>
              <div class="col-sm-12 col-md-12">
                  <div class="row" ng-init="getTrackingInfo()">
                      <br>
                      <div class="panel panel-default table-hover table-responsive">
                          <table id="overViewtable" class="table table-bordred table-striped">
                              <tbody class="tdFont">
                                  <thead style="background: #dedede;font-size: 15px;" class="thead-light">
                                      <tr>
                                          <th scope="col">Booking No</th>
                                          <th scope="col">Location</th>
                                          <th scope="col">Message</th>
                                          <th scope="col">Date</th>
                                          <th scope="col">Staff</th>
                                      </tr>
                                  </thead>
                              <tbody>
                                  <tr ng-repeat="parcelH in parcelsTracking">
                                      <td>{{ parcelH.booking_no }}</td>
                                      <td>{{ parcelH.location }}</td>
                                      <td>{{ parcelH.message }}</td>
                                      <td>{{ getDate(parcelH.date)}}</td>
                                      <td>{{ parcelH.staff }}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
      
      
      
      
      
      <div class="modal fade" id="modal_addtracking" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
      aria-hidden="true">
          <div class="modal-dialog" style="margin: 225px auto;">
              <div class="modal-content">
                  <div class="modal-header" style="border:none;">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body text-center" style="height:350px;">
                      <form name="trackForm" data-ng-submit="addTracking(trackForm,trackData)"
                          name="trackForm" id="trackForm" novalidate>
                           <div class="form-group">
                              <label for="field-1" class="col-sm-3 control-label" style="text-align:right">Location</label>
                              <div class="col-sm-8" style="padding-bottom: 10px;">
                                  <input type="text" class="form-control" name="location" id="location1"
                                      placeholder="Enter location" ng-model='trackData.location'>
                                  <div ng-messages="trackForm.$submitted && trackForm.location.$error" class="error_msg">
                                      <div ng-message="required">Enter Location</div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                                  <label for="field-1" class="col-sm-3 control-label" style="text-align:right">Date And Time</label>
                                  <div class="col-sm-8" style="padding-bottom: 10px;">
                                      <input type="date" class="form-control" name="date" id="date1"
                                          placeholder="Enter date" ng-model='trackData.date'>
                                          <input type="time" class="form-control" name="date" id="date1"
                                          placeholder="Enter time" ng-model='trackData.time'>
                                      <div ng-messages="trackForm.$submitted && trackForm.date.$error" class="error_msg">
                                          <div ng-message="required">Enter Date(2021-03-17)</div>
                                      </div>
                                  </div>
                              </div>
                          <br>
                              <div class="form-group">
                                  <label for="field-1" class="col-sm-3 control-label" style="text-align:right">Message</label>
                                  <div class="col-sm-8" style="padding-bottom: 10px;">
                                      <textarea type="text" class="form-control" name="message" id="message" rows="5"
                                          cols="50" placeholder="Enter Message"
                                          ng-model='trackData.message'>Message</textarea>
                                      <div ng-messages="trackForm.$submitted && trackForm.message.$error" class="error_msg">
                                          <div ng-message="required">Enter Message</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="field-1" class="col-sm-3 control-label" style="text-align:right">Staff</label>
                                  <div class="col-sm-8" style="padding-bottom: 10px;">
                                      <select editable-text="trackForm.staff"  e-name="staff"  class="form-control" ng-model="trackData.staff"name="staff" style="width: 130px;">
                                          <option value="" selected data-default>Select</option>
                                          <option>Amol </option>
                                          <option>Pavan</option>
                                          <option>Sneha</option>
                                          <option>Manisha</option>
                                          <option>Barsha</option>
                                          <option>Ajay</option>
                                      </select>         
                                      <div ng-messages="trackForm.$submitted && trackForm.message.$error" class="error_msg">
                                          <div ng-message="required">Select staff</div>
                                      </div>
                                  </div>
                              </div>
                              <br>
                              <div class="form-group">
                                  <div class="col-sm-offset-3 col-sm-5">
                                      <button type="submit" class="btn btn-primary">Submit</button>
                                      <button type="button" class="btn btn-default" data-dismiss="modal"
                                          style="padding:7px 20px;">Cancel</button>
                                      <p ng-show="showaddpromsg" class="success_msg" style="text-align: center;">{{addpromsg}}
                                      </p>
                                      <p ng-show="showaddproductsemsg" class="error_msg" style="text-align: center;">
                                          {{addproductsemsg}}</p>
                                  </div>
                              </div>
                      </form>
                  </div>
              </div>
              </div>
              </div>


           </div>
      <!-- Footer -->
      </div>

  </div>

</div>