<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <!-- <h5 style="float: right;">@Parcelfromindia.com</h5><br> -->
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 style="text-align: left;" class="">Activity List</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <button type="button" style="margin-right: 60px; margin-top: 15px; float:right;" class="btn btn-primary" ng-click="goto('/parcels')" >Back</button>
                        <button type="button" style="margin-right: 10px; margin-top: 15px; float:right;" class="btn btn-primary" ng-click="goto('/add-activity')">Add Activity</button>
                    </div>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-sm-12" ng-init="listActivity()">
                    <div class=" md">
                        <div class="panel panel-default table-hover table-responsive">
                            <div class="panel-heading"> </div>
                            <table class="table table-bordered table-striped datatable" id="table-2">
                                <thead class="thead-light">
                                    <tr>
                                        <!-- <th>ID</th> -->
                                        <th>Date</th>
                                        <th>Booking No</th>
                                        <th>Message</th>
                                        <th>Staff</th>
                                        <th>Location</th>
                                        <th>Preview</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="list in activity |  orderBy: 'id':true | filter: parcel">
                                        <!-- <td>{{list.id}}</td> -->
                                        <td>{{setDate(list.date)}}</td>
                                        <td  style="cursor: pointer;color:blue;" ng-click="getDetails(list.booking_no)">#{{list.booking_no}}</td>
                                        <td>{{list.message}}</td>
                                        <td>{{list.assign_to}}</td>
                                        <td>{{list.location}}</td>
                                        <td>                                            
                                        <a href="https://api.fountaintechies.com/assets/parcelDoc/{{list.docName}}" 
                                            target="_blank">
                                            <img 
                                                style="height: 80px; width: 80px; border-radius: 10px;" 
                                                src="https://api.fountaintechies.com/assets/parcelDoc/{{list.docName}}" alt="{{list.docName}}">
                                        </a></td>
                                        <!-- <td ng-click="$event.stopPropagation();">
                                            <form editable-form name="editableForm"
                                                onaftersave="updateActivity(list.assign_to,list.booking_no)">
                                                <select editable-text="list.assign_to"
                                                    ng-change="updateActivity(list.assign_to,list.booking_no)"
                                                    e-name="assign_to" onbeforesave="checkName($data)"
                                                    class="form-control" ng-model="list.assign_to"
                                                    name="assign_to" style="width: 130px;">
                                                    <option value="" selected data-default>Select</option>
                                                    <option>Amol </option>
                                                    <option>Pavan</option>
                                                    <option>Sneha</option>
                                                    <option>Manisha</option>
                                                    <option>Shradha</option>
                                                    <option>Barsha</option>
                                                    <option>Ajay</option>
                                                    <option>Shankar Mumbai</option>
                                                    <option>Kirti Delhi</option>
                                                    <option>Selva</option>
                                                    <option>Gagan</option>
                                                    <option>Kundan</option>
                                                    <option>Gaurav Medicine</option>
                                                    <option>Professional Courier</option>
                                                    <option>DTDC</option>
                                                    <option>Trackon</option>
                                                    <option>DHL</option>
                                                    <option>DPEX</option>
                                                    <option>Air Cargo</option>
                                                    <option>Ship Cargo</option>
                                                </select>
                                                <div class="buttons">
                                                    <i class="fa fa-pencil" aria-hidden="true"
                                                        ng-click="editableForm.$show()"
                                                        ng-show="!editableForm.$visible"></i>
                                                    <span ng-show="editableForm.$visible">
                                                        <button type="submit" class="btn btn-primary"
                                                            ng-disabled="editableForm.$waiting"
                                                            style="padding:2px;margin: 2px 0px;">Save
                                                        </button>
                                                        <a type="button" class="btn btn-default"
                                                            ng-disabled="editableForm.$waiting"
                                                            ng-click="editableForm.$cancel()" style="padding:2px;">
                                                            Cancel
                                                        </a>
                                                    </span>
                                                </div>
                                            </form>
                                        </td> -->
                                        <td> 
                                            <a  class="btn btn-info btn-sm btn-icon icon-left "  
                                                ng-click="goto('/compose-email')">
                                                <i class="entypo-eye"></i>
                                                Send Mail
                                            </a>
                                            <a  class="btn btn-info btn-sm btn-icon icon-left" 
                                                data-toggle="modal"
                                                data-target="#del_po" ng-click='removeActivity(list.booking_no)'>
                                                <i class="entypo-cancel"></i>
                                                Delete
                                            </a>
                                            <!-- <button data-toggle="modal" data-target="#openImg" class="form-control" ng-click="openImg(list.docName)">View Document</button> -->
                                        </td>
                                        <!-- <div class="modal fade" id="openImg" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                            <div class="modal-dialog" style="margin: 80px auto;">
                                                    <div class="modal-header" style="border:none;">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <img  style="height: 450px; width: 500px; border-radius: 10px;" 
                                                        src="https://api.fountaintechies.com/assets/parcelDoc/{{imgName}}">
                                                    </div>
                                                </div>
                                            </div> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="del_po" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" style="margin: 225px auto;">
                    <div class="modal-content delete">
                        <div class="modal-header" style="border: 2px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body text-center">
                            <img src="img/delete.svg">
                            <h2>Confirm Delete ?</h2>
                            <br>
                            <div>
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                    style="padding:7px 20px;">Cancel</button>
                                <button type="button" class="btn btn-primary" ng-click="confremoveActivity()"
                                    data-dismiss="modal" style="margin-left: 5px;">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


