<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="table_heading">Product Details</h2>
                    </div>
                    <div class="form-group col-md-4" style="margin-top:12px;">
                        <div class="icon-addon addon-sm">
                            <input type="text" placeholder="Search Product" class="form-control" ng-model="searchtxt"
                                type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="add_btn_container">
                            <button type="button" class="btn btn-primary addp" ng-click="addProduct()">Add
                                Product</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-1" ng-init="brand()">
                    <table class="table table-bordered table-striped datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>Brands</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="brand in allBrands">
                                <td>
                                    <a href="" ng-click="productsByBrand(brand.brand)"> {{ brand.brand }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-sm-11" ng-init="allProducts()">
                    <div class="panel panel-default table-hover table-responsive">
                        <div class="panel-heading"> </div>
                        <table class="table table-bordered table-striped datatable" id="table-2">
                            <thead class="thead-light">
                                <tr>
                                    <th>Priority</th>
                                    <th>Supplier</th>
                                    <th>Brand</th>
                                    <th>Title</th>
                                    <th>Color</th>
                                    <th>Cost.Price</th>
                                    <th>Sell Price</th>

                                    <th>Sg Price</th>
                                    <th>With GST Price</th>
                                    <th>In Stock</th>
                                    <th>Deals</th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in allproducts | orderBy:'priority':true | filter : searchtxt">
                                    <td>
                                        <span editable-text="product.priority" e-name="priority" e-form="rowform"
                                            onbeforesave="checkName($data, product.id)">
                                            {{ product.priority || 'Empty' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span editable-text="product.supplier" e-name="supplier" e-form="rowform"
                                            onbeforesave="checkName($data, product.id)">
                                            {{ product.supplier || 'Empty' }}
                                        </span>
                                    </td>

                                    <td>
                                        <span editable-text="product.brand" e-name="brand" e-form="rowform"
                                            onbeforesave="checkName($data, product.id)">
                                            {{ product.brand || 'Empty' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span editable-text="product.description" e-name="description" e-form="rowform"
                                            style="cursor: pointer; color:#003fff"
                                            onbeforesave="checkName($data, product.id)"
                                            ng-click='productStock(product.description,product.product_type,product.selling_price,product.id)'>
                                            {{ product.description || 'Empty' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span editable-text="product.pcolor" e-name="pcolor" e-form="rowform"
                                            onbeforesave="checkName($data, product.id)">
                                            {{ product.pcolor || 'Empty' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span editable-text="product.cost_price" e-name="cost_price" e-form="rowform"
                                            onbeforesave="checkName($data, product.id)">
                                            {{ product.cost_price || 'Empty' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span editable-text="product.selling_price" e-name="selling_price"
                                            e-form="rowform" onbeforesave="checkName($data, product.id)">
                                            {{ product.selling_price || 'Empty' }}
                                        </span>
                                    </td>
                                    <!-- <td>
                                        <span editable-text="product.sellingPricePlus5" e-name="sellingPricePlus5"
                                            e-form="rowform" onbeforesave="checkName($data, product.id)">
                                            {{ product.sellingPricePlus5 || 'Empty' }}
                                        </span>
                                    </td>-->

                                    <td>
                                        <span editable-text="product.selling_price_sg" e-name="selling_price_sg"
                                            e-form="rowform" onbeforesave="checkName($data, product.id)">
                                            {{ product.selling_price_sg || 'Empty' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span editable-text="product.selling_price_gst" e-name="selling_price_gst"
                                            e-form="rowform" onbeforesave="checkName($data, product.id)">
                                            {{ product.selling_price_gst || 'Empty' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span editable-text="product.stock" e-name="stock" e-form="rowform"
                                            onbeforesave="checkName($data, product.id)">
                                            {{ product.stock || 'Empty' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span editable-text="product.deals" e-name="deals" e-form="rowform"
                                            onbeforesave="checkName($data, product.id)">
                                            {{ product.deals || 'Empty' }}
                                        </span>
                                    </td>


                                    <td style="white-space: nowrap">
                                        <!-- form -->
                                        <form editable-form name="rowform"
                                            onbeforesave="saveProductRowItem($data, product.id)"
                                            ng-show="rowform.$visible" class="form-buttons form-inline"
                                            shown="inserted == product">
                                            <button type="submit" ng-disabled="rowform.$waiting"
                                                class="btn btn-primary">
                                                save
                                            </button>
                                            <button type="button" ng-disabled="rowform.$waiting"
                                                ng-click="rowform.$cancel()" class="btn btn-default">
                                                cancel
                                            </button>
                                        </form>
                                        <div class="buttons" ng-show="!rowform.$visible">
                                            <button type="button" class="btn btn-primary"
                                                ng-click="rowform.$show()">Edit</button>
                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target="#del_pro" ng-click='prodel(product.id)'>delete</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: center;font-size:25px;font-weight:600"><i ng-hide="allproducts"
                            class="fa fa-spinner" aria-hidden="true">
                            Page loading...</i></div>
                </div>
            </div>
            <!-- Footer -->
        </div>
    </div>

    <div class="modal fade" id="del_pro" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="img/delete.svg">
                    <h2>Confirm Delete ?</h2>
                    <br>

                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="confirmcatdel(product.id)"
                            data-dismiss="modal" style="margin-left: 5px;">Delete</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- sub-product model -->
<div class="modal fade" id="modal_sub" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 225px auto;">
        <div class="modal-content">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center" style="height:540px;">
                <form name="poForm" data-ng-submit="addModelSubProduct(poForm,product)" name="poForm" id="poForm"
                    novalidate>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">Global Rank</label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">
                            <input type="text" class="form-control" name="qty" id="global_rank"
                                placeholder="Enter Global Rank" ng-model='product.global_rank'>
                            <div ng-messages="poForm.$submitted && poForm.global_rank.$error" class="error_msg">
                                <div ng-message="required">Enter Global Rank</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">Brand Rank</label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">
                            <input type="text" class="form-control" name="brand_rank" id="brand_rank"
                                placeholder="Enter Brand Rank" ng-model='product.brand_rank'>
                            <div ng-messages="poForm.$submitted && poForm.brand_rank.$error" class="error_msg">
                                <div ng-message="required">Enter Brand Rank</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">EAN Number</label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">
                            <input type="text" class="form-control" name="qty" id="ean" placeholder="Enter EAN Number"
                                ng-model='product.ean'>
                            <div ng-messages="poForm.$submitted && poForm.ean.$error" class="error_msg">
                                <div ng-message="required">Enter EAN Number</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">Color</label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">
                            <input type="text" class="form-control" name="color" id="color" placeholder="Enter Color"
                                ng-model='product.color'>
                            <div ng-messages="poForm.$submitted && poForm.color.$error" class="error_msg">
                                <div ng-message="required">Enter Color</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">Spec</label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">
                            <input type="text" class="form-control" name="p_spec" id="p_spec" placeholder="Enter p_spec"
                                ng-model='product.p_spec'>
                            <div ng-messages="poForm.$submitted && poForm.p_spec.$error" class="error_msg">
                                <div ng-message="required">Enter Spec</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">Selling Price</label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">
                            <input type="text" class="form-control" name="price" id="pselling_price"
                                placeholder="Enter Selling Price" ng-model='product.pselling_price'>
                            <div ng-messages="poForm.$submitted && poForm.pselling_price.$error" class="error_msg">
                                <div ng-message="required">Enter Selling Price</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">SEO Title </label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">
                            <input type="text" class="form-control" name="seo_title" id="seo_title"
                                placeholder="Enter SEO Title" ng-model='product.seo_title'
                                ng-model-options="{ allowInvalid: true }">
                            <div ng-messages="addProductForm.$submitted && addProductForm.seo_title.$error"
                                class="error_msg">
                                <div ng-message="required"> Enter SEO Title </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">SEO Description</label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">
                            <textarea type="text" class="form-control" name="seo_description" id="seo_description"
                                placeholder="Enter Product Description" ng-model='product.seo_description'
                                ng-model-options="{ allowInvalid: true }"></textarea>
                            <div ng-messages="addProductForm.$submitted && addProductForm.seo_description.$error"
                                class="error_msg">
                                <div ng-message="required"> Enter SEO Description </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">SEO Keywords</label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">
                            <textarea type="text" class="form-control" name="seo_keywords" id="seo_keywords"
                                placeholder="Enter Product Keywords" ng-model='product.seo_keywords'
                                ng-model-options="{ allowInvalid: true }"></textarea>
                            <div ng-messages="addProductForm.$submitted && addProductForm.seo_keywords.$error"
                                class="error_msg">
                                <div ng-message="required"> Enter SEO Keywords </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">Image</label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">
                            <input accept="image/*" class="form-control" id="file_browseImg"
                                onchange="angular.element(this).scope().addSubImage()" type="file" />
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div  ng-if="product.img">
                            <div id="fileDisplayArea1" class="text-center">
                                <img src="https://api.fountaintechies.com/assets/web/111/{{product.img}}" style="border:2px solid grey;width: 225px;height: 295px;text-align: center;margin: 0 auto;display: block;">
                            </div>
                        </div>
                    </div> -->
                    <br>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                style="padding:7px 20px;">Cancel</button>
                            <p ng-show="showaddpromsg" class="success_msg" style="text-align: center;">{{addpromsg}}
                            </p>
                            <p ng-show="showaddproductsemsg" class="error_msg" style="text-align: center;">
                                {{addproductsemsg}}</p>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>