<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row"> </div>
            <h2 class="table_heading">Promocode Management</h2>
            <div class="add_btn_container">
                <button class="btn btn-success" type="button" ng-click="goto('add_promocode')">Add promocode</button>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"> </div>
                                <table class="table table-bordered table-striped datatable" id="table-2">
                                    <thead>
                                        <tr>
                                            <th>Promocode</th>
                                            <th>Deposit Amount</th>
                                            <th>Description</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Created Date</th>
                                            <th style="width: 32%;">Action</th>
                                        </tr>
                                    <tbody>
                                    </thead>
                                        <tr ng-repeat="eachPromocode in promocodes">
                                            <td>{{eachPromocode.promocode}}</td>
                                            <td>{{eachPromocode.discount}}</td>
                                            <td>{{eachPromocode.description}}</td>
                                            <td>{{eachPromocode.start_date}}</td>
                                            <td>{{eachPromocode.end_date}}</td>
                                          <!--  <td>{{eachPromocode.business_address}}</td> -->
                                            <td >{{eachPromocode.create_at | date:"dd-MM-yyyy"}}</td>
                                            <td>
                                                <a href="" class="btn btn-default btn-sm btn-icon icon-left" ng-click='editpromocode(eachPromocode.id)'>
                                                    <i class="entypo-pencil"></i> Edit
                                                </a>
                                                <a class="btn btn-danger btn-sm btn-icon icon-left" data-toggle="modal" data-target="#del_cat"  ng-click='onDeletePromocode(eachPromocode.id)' >
                                                    <i class="entypo-cancel"></i> Delete
                                                </a>
                                                
                                             <!--   <a href="" class="btn btn-info btn-sm btn-icon icon-left" ng-click='viewuser(eachPromocode.business_id)'>
                                                    <i class="entypo-info"></i> View
                                                </a> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <p ng-show="showdeletemsgmsg" class="success_msg">{{deletemsg}}</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- Footer --> 
        </div> 
    </div>
 
    <div class="modal fade" id="del_cat" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="img/delete.svg">
                    <br>
                    <h3 ng-show="userstatus==1" class="modal-title" id="lineModalLabel">Disable User?</h3>
                    <h3 ng-show="userstatus==0" class="modal-title" id="lineModalLabel">Enable User?</h3>
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="deletePromocode(idtodelete)" data-dismiss="modal" style="margin-left: 5px;">Yes</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
