<div>
    <div class="page-container" ng-init="poDetails()">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-10">
                        <h2 class="table_heading">Purchase Order</h2>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
            <hr>

            <div id="exportthisSection" class="row" ng-init="clientByIdPO()">
                <section>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="../img/GADGET.png" alt="logo" class="limg">
                            </div>
                            <div id="pOrder" class="col-md-6">
                                <h2>Purchase Order</h2>
                                <h4>Fountain Technologies Pte. Ltd.</h4>
                                <p>
                                    06-48A Sim Lim Square<br>
                                    1 Rocher Canal Road <br>
                                    Singapore,188504<br>
                                    Phone: +6592408380<br>
                                    Mobile: +6592408380<br>
                                    www.gadgetsinasia.com
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12" id="hr">
                           <div class="row">
                                <div class="col-md-4" id="lH">
                                    <h2>Vendor</h2>
                                    <h3><a href="#" editable-text="clientDetails.client_name">{{ clientDetails.client_name || "Empty Client Name" }}</a></h3>
                                    <span><a href="#" editable-text="clientDetails.company_name">{{ clientDetails.company_name || "Empty Company Name" }}</a></span>
                                    <p><a href="#" editable-text="clientDetails.address">{{ clientDetails.address || "Empty Address" }}</a><br>
                                        <span><a href="#" editable-text="clientDetails.contact">{{clientDetails.contact || "Empty Number"}}</a></span><br>
                                        <span><a href="#" editable-text="clientDetails.email">{{clientDetails.email || "Empty Email"}}</a></span><br>
                                    </p>
                                    </div>
                                <div class="col-md-4" id="lH2">
                                    <h2>Ship To</h2>
                                    <h3><a href="#" editable-text="clientDetails.shipto.shiptocompanyName">{{clientDetails.shipto.shiptocompanyName || "Empty Company Name"}}</a></h3>
                                    <p><a href="#" editable-text="clientDetails.shipto.shiptoAddress">{{clientDetails.shipto.shiptoAddress || "Empty Address"}}</a><br>
                                        <span><a href="#" editable-text="clientDetails.shipto.shiptoNumber">{{clientDetails.shipto.shiptoNumber || "Empty Number"}}</a></span><br>
                                        <span><a href="#" editable-text="clientDetails.shipto.shiptoMail">{{clientDetails.shipto.shiptoMail || "Empty Email"}}</a></span><br>
                                    </p>
                                </div>
                                <div class="col-md-4" id="payment">
                                    <div class="col-md-6">
                                        <span class="p_head">Date</span>
                                    </div>
                                    <div class="col-md-6">
                                        <span>{{POdata[0].date}}</span>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="p_head">Payment Due:</span>
                                    </div>
                                    <div class="col-md-6">
                                        <span>{{POdata[0].date}}</span>
                                    </div>
                                    <div class="col-md-6" id="acolor">
                                        <span class="p_head">Amount Due(USD):</span>
                                    </div>
                                    <div class="col-md-6" id="acolor">
                                    <span>{{ getTotal() }}</span>
                                    </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-md-12" id="pHr" ng-init="AllPOData()">
                            <div class="row">
                                <div class="panel panel-default table-hover table-responsive">
                                    <table class="table table-bordered table-striped datatable" id="table-2">
                                        <thead id="tc" class="thead-light">
                                            <tr>
                                                <th>No</th>
                                                <th>Items</th>
                                                <th>Color</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat='data in POdata track by $index'>
                                                <td>{{$index+1}}</td>
                                                <td>{{data.product_title}}</td>
                                                <td>{{data.color}}</td>
                                                <td>{{data.qty}}</td>
                                                <td>{{data.selling_price}}</td>
                                                <td>{{data.total_price}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-10 tRight">
                                <span>Total</span>
                            </div>
                            <div class="col-md-2 fs">
                                <span>{{ getTotal() }}</span>
                            </div>
                            <div class="col-md-10 tRight">
                                <span>Advance</span>
                            </div>
                            <div class="col-md-2 fs">
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-8 sp">
                                    <h4>Special Instruction:</h4>
                                </div>
                                <div class="col-md-2 ta">
                                    <span>Amount Due(USD):</span>
                                </div>
                                <div class="col-md-2 ta2">
                                    <span>{{ getTotal() }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6 spn">
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-8">
                                    <img src="../img/SIGN.png" alt="stemp" style="float:right;margin-right: -141px;z-index: 999;position: inherit;">
                                </div>
                                <div class="col-md-4">
                                    <img src="../img/stamp.png" alt="stemp" style="width: 100%;z-index: 11;padding-top: 39px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="col-md-12 bp">
                    <button type="button" class="btn btn-primary" ng-click="poExport()">Print</button>
                    <button type="button" class="btn btn-primary" ng-click="updateclientByIdPO(clientDetails,getTotal(),POdata)">Save PO</button>
                    <p ng-show="showupdatemsg" class="success_msg" style="text-align: center;">
                        {{updatemsg}}</p>
                    <p ng-show="showerrmsg" class="error_msg"
                        style="text-align: center;">{{errmsg}}</p>
                </div>
            </div>
        </div>
    </div>
