<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            
            <h2 class="table_heading">Inventory list</h2>
            <div class="row">
                <div class="col-sm-12" ng-controller="StockController" ng-init="inventoryList()">
                    <div class="panel panel-default">
                        <div class="panel-heading"> </div>
                        <table class="table table-bordered table-striped datatable">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th >Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="i in inventory" >
                                    <td>{{ i.item_name }}</td>
                                    <td>
                                        <a  class="btn btn-info btn-sm btn-icon icon-left" ng-click='viewInventory(i.item_id)'>
                                            <i class="entypo-info"></i> View
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>
    </div>
    </div>


</div>