<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <h2 class="table_heading">Sub Product Details</h2>
                </div>
                <div class="form-group col-md-4" style="margin-top: 12px;">
                    <div class="icon-addon addon-sm">
                        <input type="text" placeholder="Search Sub Product" class="form-control" ng-model="searchtxt"type="text">
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12" ng-init="allSubProducts()">
                    <div class="panel panel-default table-hover table-responsive">
                        <div class="panel-heading"> </div>
                        <table class="table table-bordered table-striped datatable" id="table-2">
                            <thead class="thead-light">
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Brand</th>
                                    <th>Title</th>
                                    <th>Color</th>
                                    <th>Selling Price</th>
                                    <th>EAN Number</th>
                                    <th>Image</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in subproduct |  orderBy: reverse:true | filter : searchtxt">
                                    <td>{{product.date}}</td>
                                    <td>{{product.product_type}}</td>
                                    <td>{{product.brand}}</td>
                                    <td>{{product.description}}</td>
                                    <td>{{product.color}}</td>
                                    <td>{{product.pselling_price}}</td>
                                    <td>{{product.ean}}</td>
                                    <td>{{product.img}}</td>
                                    <!-- <td>
                                        <a class="btn btn-info btn-sm btn-icon icon-left"
                                        ng-click='editSubProduct(product.id)'>
                                            <i class="entypo-info"></i> Edit
                                        </a>

                                        <a class="btn btn-info btn-sm btn-icon icon-left" data-toggle="modal"
                                            data-target="#del_pro" ng-click='subProdel(product.id)'>
                                            <i class="entypo-cancel"></i> Delete
                                        </a>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                        <!-- <p ng-show="showdeletemsgmsg" class="success_msg">{{deletemsg}}</p> -->
                    </div>

                    <div style="text-align: center;font-size:25px;font-weight:600"><i ng-hide="subproduct" class="fa fa-spinner" aria-hidden="true">
                        Page loading...</i></div>
                
                </div>
            </div>
            <!-- Footer -->
        </div>
    </div>

    <div class="modal fade" id="del_pro" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="img/delete.svg">
                    <h2>Confirm Delete ?</h2>
                    <br>

                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="confirmdel(product.id)"
                            data-dismiss="modal" style="margin-left: 5px;">Delete</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
