<div>
    <div class="navbar-fixed-top" ng-include="getTopMenu()"></div>
</div>
<div style="margin-top: 50px;">
    <div class="page-container">
        <header ng-include="getLeftMenu()"></header>
        <div class="main-content">
            <!-- <header ng-include="'partials/user_menu.html'"></header> -->
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <h2 class="table_heading">Support List</h2>
                </div>
                <div class="col-md-3">
                    <div class="form-group" ng-click="supportStatus()" style="display: initial;">
                        <div style="margin-top: 15px;">
                            <select class="form-control" ng-model="team.s_status"
                                ng-change="selectedSuppStatus(team.s_status)"
                                ng-options="staff.s_status as staff.s_status for staff in suppStatus | orderBy:'s_status' track by staff.s_status">
                                <option value="" selected data-default>All Selected Status</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3" style="margin-top:15px;">
                    <div class="icon-addon addon-sm">
                        <input type="text" placeholder="Search Support" class="form-control" ng-model="searchtxt"type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="add_btn_container">
                        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" style="margin-top: 15px; " 
                            data-target="#uploadDocuments">
                            Upload Documents
                        </button> -->
                        <button type="button" class="btn btn-primary " style="margin-top:15px;" ng-click="goto('/Add-Support')">Add Support</button>
                    </div>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-sm-12" ng-init="allSupport()">
                        <div class=" md">
                            <div class="panel panel-default table-hover table-responsive">
                                <div class="panel-heading"> </div>
                                <table class="table table-bordered table-striped datatable" id="table-2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Req No</th>
                                            <th>Priority</th>
                                            <th>Message</th>
                                            <th>Booking Number</th>
                                            <th>Created At</th>
                                            <th>Email</th>
                                            <th>Req User</th>
                                            <th>Assign to</th>
                                            <th>Department</th>
                                            <th>Status</th>
                                            <th>Req Days</th>
                                            <th>Action</th>
                                        </tr>
                                    <tbody>
                                        </thead>
                                        <tr ng-repeat="help in desk |  orderBy: 'id':true | filter: searchtxt">
                                            <td>#{{help.id}}</td>
                                            <td>{{help.priority}}</td>
                                            <td>{{help.s_msg}}</td>
                                            <td><a style="color:blue" ng-href="/admin/#/parcelDetails/{{help.booking_no}}">{{help.booking_no}}</a></td>
                                            <td>{{getDate(help.date)}}</td>
                                            <td><a ng-href="mailto:{{help.email}}">{{help.email}}</a></td>
                                            <td>{{help.req_user}}</td>
                                            <td>
                                                <form editable-form name="editableForm1" onaftersave="updateSupportAssign(help.assign_to,help.id)">
                                                    <select editable-text="help.assign_to" e-name="assign_to" onbeforesave="checkName($data)" class="form-control" ng-model="help.assign_to"name="assign_to" style="width: 130px;">
                                                        <option value="" selected data-default>Select</option>
                                                        <option>Amol</option>
                                                        <option>Manisha</option>
                                                        <option>Sneha</option>
                                                        <option>Jeni</option>
                                                        <option>Pragya</option>
                                                        <option>Amit</option>
                                                        <option>Mohammad</option>
                                                        <option>Shrutika</option>
                                                        <option>Barsha</option>

                                                        <option>Other</option>
                                                    </select>
                                                    <div class="buttons">
                                                        <i class="fa fa-pencil" aria-hidden="true" ng-click="editableForm1.$show()" ng-show="!editableForm1.$visible"></i>
                                                        <span ng-show="editableForm1.$visible">
                                                            <button type="submit" class="btn btn-primary" ng-disabled="editableForm1.$waiting" style="padding:2px;margin: 2px 0px;">Save
                                                            </button>
                                                            <a type="button" class="btn btn-default" ng-disabled="editableForm1.$waiting" ng-click="editableForm1.$cancel()" style="padding:2px;">
                                                            Cancel
                                                            </a>
                                                        </span>
                                                    </div>
                                                </form> 
                                            </td>
                                            <td>
                                                <form editable-form name="editableForm2" onaftersave="updateSupportDepart(help.department,help.id)">
                                                    <select editable-text="help.department" e-name="department" onbeforesave="checkName($data)" class="form-control" ng-model="help.department"name="department" style="width: 130px;">
                                                        <option value="" selected data-default>Select</option>
                                                        <option>Technical</option>
                                                        <option>Sales</option>
                                                        <option>Purchase</option>
                                                        <option>Logistics</option>
                                                        <option>Other</option>
                                                    </select>
                                                    <div class="buttons">
                                                        <i class="fa fa-pencil" aria-hidden="true" ng-click="editableForm2.$show()" ng-show="!editableForm2.$visible"></i>
                                                        <span ng-show="editableForm2.$visible">
                                                            <button type="submit" class="btn btn-primary" ng-disabled="editableForm2.$waiting" style="padding:2px;margin: 2px 0px;">Save
                                                            </button>
                                                            <a type="button" class="btn btn-default" ng-disabled="editableForm2.$waiting" ng-click="editableForm2.$cancel()" style="padding:2px;">
                                                            Cancel
                                                            </a>
                                                        </span>
                                                    </div>
                                                </form> 
                                            </td>
                                            <td>
                                                <form editable-form name="editableForm" onaftersave="updateSupportStatus(help.s_status,help.id)">
                                                    <select editable-text="help.s_status" e-name="s_status" onbeforesave="checkName($data)" class="form-control" ng-model="help.s_status"name="s_status" style="width: 130px;">
                                                        <option value="" selected data-default>Select</option>
                                                        <option>Completed</option>
                                                        <option>In Progress</option>
                                                        <option>Pending</option>
                                                    </select>
                                                    <div class="buttons">
                                                        <i class="fa fa-pencil" aria-hidden="true" ng-click="editableForm.$show()" ng-show="!editableForm.$visible"></i>
                                                        <span ng-show="editableForm.$visible">
                                                            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting" style="padding:2px;margin: 2px 0px;">Save
                                                            </button>
                                                            <a type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()" style="padding:2px;">
                                                            Cancel
                                                            </a>
                                                        </span>
                                                    </div>
                                                </form> 
                                            </td>
                                            <td>{{days(help.date)}} Days Ago</td>
                                            <td>
                                                <a class="btn btn-danger btn-sm btn-icon icon-left" data-toggle="modal"
                                                    data-target="#del_po" ng-click='SuppDel(help.id)'>
                                                    <i class="entypo-cancel"></i> Delete
                                                </a>
                                                <a type="button" class="btn btn-success" data-toggle="modal" style="margin: 5px 0px;border:none;padding: 5px 10px;" 
                                                    data-target="#addNotes" ng-click='addSuppModel(help.id,help.assign_to,help.req_user,help.booking_no)'>
                                                    Add Notes
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="text-align: center;font-size:25px;font-weight:600"><i ng-hide="desk" class="fa fa-spinner" aria-hidden="true">
                                Page loading...</i></div>
                        </div>
                        
                </div>
            </div>
            <!-- Footer -->
            <hr />

            <div class="row">
                <div class="col-md-3">
                    <h2 class="table_heading">Support Notes</h2>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-sm-12" ng-init="allSupportNotes()">
                        <div class=" md">
                            <div class="panel panel-default table-hover table-responsive">
                                <div class="panel-heading"> </div>
                                <table class="table table-bordered table-striped datatable" id="table-2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Booking No</th>
                                            <th>Req ID</th>
                                            <th>Staff</th>
                                            <th>Client</th>
                                            <th>Messege</th>
                                        </tr>
                                    <tbody>
                                        </thead>
                                        <tr ng-repeat="notes in supportNotes |  orderBy: 'id':true | filter: searchtxt">
                                            <td>#{{notes.id}}</td>
                                            <td><a style="color:blue" ng-href="/admin/#/parcelDetails/{{notes.booking_no}}">{{notes.booking_no}}</td>
                                            <td>{{notes.req_id}}</td>
                                            <td>{{notes.s_staff}}</td>
                                            <td>{{notes.s_client}}</td>
                                            <td>{{notes.sup_notes}}</td>
                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="text-align: center;font-size:25px;font-weight:600"><i ng-hide="supportNotes" class="fa fa-spinner" aria-hidden="true">
                                Page loading...</i></div>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="del_po" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="img/delete.svg">
                    <h2>Confirm Delete ?</h2>
                    <br>
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="confSuppDel(help.id)"
                            data-dismiss="modal" style="margin-left: 5px;">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add notes -->
<div class="modal fade" id="addNotes" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content">
                <!-- <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div> -->
                <div class="modal-body text-center" style="height:330px;">
                    <form name="supportform" data-ng-submit="addSupportNotes(mydesk)" name="supportform" id="supportform"
                        novalidate>
                        <div class="form-group">
                            <h3 for="field-1" class="col-sm-12">Add Support Notes</h>
                            <div class="col-sm-12" style="padding-bottom: 10px;">
                                <textarea type="text" class="form-control" name="sup_notes" id="sup_notes" rows="10"
                                    placeholder="Write Support Notes" ng-model='mydesk.sup_notes'></textarea>
                                <div ng-messages="supportform.$submitted && supportform.sup_notes.$error"
                                    class="error_msg">
                                    <div ng-message="required">Enter Notes</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-5">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                    style="padding:7px 20px;">Cancel</button>
                                <p ng-show="showaddpromsg" class="success_msg" style="text-align: center;">{{addpromsg}}
                                </p>
                                <p ng-show="showaddproductsemsg" class="error_msg" style="text-align: center;">
                                    {{addproductsemsg}}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="modal fade" id="uploadDocuments" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content">
                <div class="modal-body text-center " style="height:270px;">
                    <div class="border">
                    <form name="uploadDocumentsForm" 
                    enctype="multipart/form-data" method="POST" 
                    ng-submit="uploadDocuments(uploadDocumentsForm,document)" 
                    name="uploadDocumentsForm" id="uploadDocumentsForm" novalidate>
                        <div class="form-group">
                            <h3 for="field-1" class="col-sm-12">Upload Documents</h3>
                        </div>
                        <hr>
                        <div class="" style="text-align: left; padding-left: 10px;">
                            
                            <div style="padding-left: 140px;" class="">
                                <label >Enter Document Name</label><br>
                                <input type="text" 
                                    name="document-name" 
                                    ng-model="document.name" 
                                    id="document-name"
                                ><br>
                            </div>
                            <div style="padding-left: 140px;" class="">
                                <br>
                                <label >Choose File :</label> 
                                    <input type="file" 
                                    onchange="angular.element(this).scope().updateattachment2()" 
                                    id="document-file"
                                    ngf-select placeholder="Choose Image" 
                                    ng-model="document.file" ><br>
                            </div>
                            <div style="padding-left: 140px;">
                                <button type="submit" class="btn btn-primary" >Upload</button>
                                <button class="btn btn-light" ng-click="reload()">Cancel</button>
                            </div><br>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->