<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-3">
                            <h2 class="table_heading">Notes</h2>
                        </div>
                        <div class="col-md-2" style="padding-top: 15px;">
                            <div class="add_btn_container">
                                <button type="button" class="btn btn-success" data-toggle="modal"
                                    data-target="#modal_notes">Add Notes</button>
                            </div>
                        </div>
                        <div class="col-md-2" style="padding-top: 15px;">
                            <div class="add_btn_container">
                                <button type="button" class="btn btn-success" ng-click="goto('/packinglist')">Packing
                                    List</button>
                            </div>
                        </div>

                        <div class="col-md-2" style="padding-top: 15px;">
                            <div class="add_btn_container">
                                <button type="button" class="btn btn-success"
                                    ng-click="goto('/userOrder')">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-init="notesByIdForPacking()">
                <div class="col-md-1">

                </div>
                <div class="col-sm-10">
                    <div class="panel panel-default table-hover table-responsive">
                        <div class="panel-heading"> </div>
                        <table class="table table-bordered table-striped datatable" id="table-2">
                            <thead class="thead-light">
                                <tr>
                                    <th>Date/Time</th>
                                    <th>Staff Member</th>
                                    <th>Notes</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="wtb in noteLists">
                                    <td>{{wtb.date}}</td>
                                    <td>{{wtb.staff}}</td>
                                    <td>{{wtb.p_notes}}</td>
                                    <td>
                                        <a class="btn btn-info btn-sm btn-icon icon-left" data-toggle="modal"
                                            data-target="#del_po" ng-click='delNotes(wtb.nid)'>
                                            <i class="entypo-cancel"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                </div>
                <div class="col-md-1">

                </div>
            </div>

            <div id="exportthis" class="row" ng-init="getPackingListInvoiceById()">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2">
                            <h2>Invoice</h2>
                        </div>
                        <div class="col-md-4">
                            <h2>Available Credits: {{client.points |number:2}} USD</h2>
                        </div>
                        <div class="col-md-3" style="padding-top: 15px;">
                            <div class="add_btn_container" style="float: left;">
                                <button type="button" class="btn btn-success"
                                    ng-click="deductBalance(client,InvData[0].totalAmount,InvData[0].costTotal,InvData[0].id)">{{dc}}</button>
                            </div>

                        </div>
                        <div class="col-md-1" style="padding-top: 15px;">
                            <div class="add_btn_container">
                                <button type="button" class="btn btn-success" ng-click="invoicePdf()">Print</button>
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-3">
                            <h3>Order Status</h3>
                            <h4>
                                <a href="#" editable-select="InvData[0].status"
                                    onaftersave="changeShipStatusForPackingOrders(InvData[0].shipNo,InvData[0].status)"
                                    e-ng-options="s.option as s.option for s in statuses">
                                    {{ InvData[0].status || 'Empty Status' }}
                                </a>
                            </h4>
                        </div>
                        <div class="col-md-3">
                            <h3>Shipping Charges</h3>
                            <h4>
                                <a href="#" editable-text="shippingCost"
                                    onaftersave="updateShippingC(InvData[0].shipNo,shippingCost,InvData[0].totalAmount)">
                                    {{ shippingCost | number:2 || 'Enter Shipping Charges'  }}
                                </a> USD
                            </h4>
                        </div>

                        <div class="col-md-3">
                            <h3>Tracking Number</h3>
                            <h4>
                                <a href="#" editable-text="trackingNumber"
                                    onaftersave="updateTrackingNumber(InvData[0].shipNo,trackingNumber,client)">
                                    {{ trackingNumber  || 'Enter Tracking Number'  }}
                                </a>
                            </h4>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            {{deductCreditsMessage}}
                        </div>

                        <div class="col-md-1">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-5">
                            <img src="http://api.fountaintechies.com/assets/web/111/{{client.companyLogo}}"
                                style="width: 70%;" alt="logo">
                        </div>
                        <div id="pOrder" class="col-md-5" ng-init="getUser()" style="padding-right: 40px;">
                            <h2>INVOICE</h2>
                            <h4 class="md-title">{{client.company_name}}</h4>
                            <p class="md-body-1">
                                {{client.address}}<br>
                                {{client.address2}} <br>
                                {{client.city}}<br>
                                {{client.country}}<br>
                                {{client.postalCode}}<br>
                            </p>
                        </div>
                        <div class="col-md-1">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-3" id="hr">
                            <h2>BILL To</h2>
                            <!-- <h3>{{viewInv[0].client_name}}</h3>
                                <h3>{{viewInv[0].company_name}}</h3> -->
                            <p>{{InvData[0].contactPerson}} <br>
                                {{InvData[0].address1}} <br>
                                {{InvData[0].address2}}<br>
                                {{InvData[0].country}}<br>
                                {{InvData[0].city}}<br>
                                <p>{{InvData[0].postalCode}}
                                    <br>
                                    <span>{{InvData[0].contactNumber}}</span><br>
                                    <span>{{InvData[0].email}}</span><br>
                                </p>
                        </div>
                        <div class="col-md-3" id="hr">
                            <h2>SHIP To</h2>
                            <!-- <h3>{{viewInv[0].client_name}}</h3>
                                <h3>{{viewInv[0].company_name}}</h3> -->
                            <p>{{InvData[0].contactPerson}} <br>
                                {{InvData[0].address1}} <br>
                                {{InvData[0].address2}}<br>
                                {{InvData[0].country}}<br>
                                {{InvData[0].city}}<br>
                                <p>{{InvData[0].postalCode}}
                                    <br>
                                    <span>{{InvData[0].contactNumber}}</span><br>
                                    <span>{{InvData[0].email}}</span><br>
                                </p>
                        </div>
                        <div class="col-md-4" style="border-top: 2px solid #c5cace;padding: 0px;margin-top: 24px;">
                            <div id="payment">
                                <div class="col-md-6">
                                    <span class="p_head">Invoice Number</span>
                                </div>
                                <div class="col-md-6">
                                    <span>{{InvData[0].shipNo}}</span>
                                </div>
                                <div class="col-md-6">
                                    <span class="p_head">Invoice Date</span>
                                </div>
                                <div class="col-md-6">
                                    <span>{{InvData[0].date}}</span>
                                </div>
                                <div class="col-md-6">
                                    <span class="p_head">Payment Due:</span>
                                </div>
                                <div class="col-md-6">
                                    <span>{{InvData[0].totalAmount |number:2}} USD</span>
                                </div>
                                <div class="col-md-6" id="acolor">
                                    <span class="p_head">Amount Due:</span>
                                </div>
                                <div class="col-md-6" id="acolor">
                                    <span>{{InvData[0].totalAmount |number:2}} USD</span>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10" style="padding-left: 0px; padding-right:0px;">
                            <div class="panel panel-default table-hover table-responsive">
                                <table class="table table-bordered table-hover table-condensed">
                                    <thead id="tc" class="thead-light">
                                        <tr>
                                            <th>No</th>
                                            <th>Items</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Shipping Price</th>
                                            <th>Total</th>

                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat='data in InvData'>
                                            <td>{{$index+1}}</td>
                                            <td>

                                                <span e-name="p_title" e-form="rowform"
                                                    onbeforesave="checkName($data, data.item_id)" e-required>
                                                    {{ data.title || 'empty' }}
                                                </span>
                                            </td>

                                            <td style="text-align: right;">
                                                <span e-name="inv_qty" e-form="rowform"
                                                    onbeforesave="checkName($data, data.item_id)" e-required>
                                                    {{ data.qty || 'empty' }}
                                                </span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span e-name="inv_price" e-form="rowform"
                                                    onbeforesave="checkName($data, data.item_id)" e-required>
                                                    {{ data.price |number:2 || 'empty' }} USD
                                                </span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span e-name="shippingPrice" e-form="rowform"
                                                    onbeforesave="checkName($data, data.item_id)" e-required>
                                                    {{ data.qty * data.shippingPrice |number:2  || 'empty' }} USD
                                                </span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span e-name="inv_total_price" e-form="rowform"
                                                    onbeforesave="checkName($data, data.item_id)" e-required>
                                                    {{ data.total |number:2 || 'empty' }} USD
                                                </span>
                                            </td>

                                            <!-- <td style="white-space: nowrap">
                                                   
                                                    <form editable-form name="rowform"
                                                        onbeforesave="saveInvoiceItem($data,data.item_id)"
                                                        ng-show="rowform.$visible" class="form-buttons form-inline"
                                                        shown="inserted == data">
                                                        <button type="submit" ng-disabled="rowform.$waiting"
                                                            class="btn btn-primary">
                                                            save
                                                        </button>
                                                        <button type="button" ng-disabled="rowform.$waiting"
                                                            ng-click="rowform.$cancel()" class="btn btn-default">
                                                            cancel
                                                        </button>
                                                    </form>
                                                    <div class="buttons" ng-show="!rowform.$visible">
                                                        <button class="btn btn-success"
                                                            ng-click="rowform.$show()">Edit</button>
                                                       
                                                    </div>
                                                </td> -->
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td style="text-align: right; font-weight: bold;">
                                                Total
                                            </td>
                                            <td style="text-align: right;">
                                                {{InvData[0].totalAmount |number:2}} USD
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-md-1">
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- delete popup -->
    <div class="modal fade" id="del_po" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="img/delete.svg">
                    <h2>Confirm Delete ?</h2>
                    <br>
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="confirmDelNotes()" data-dismiss="modal"
                            style="margin-left: 5px;">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- add notes -->
    <div class="modal fade" id="modal_notes" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center" style="height:260px;">
                    <form name="notesForm" data-ng-submit="invoiceNotes(notes,InvData[0].shipNo)" name="notesForm"
                        id="notesForm" novalidate>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label" style="text-align:right">Staff
                                Member</label>
                            <div class="col-sm-8" style="padding-bottom: 10px;">
                                <select class="form-control" ng-model="notes.staff">
                                    <option value="" selected data-default>Select Member</option>
                                    <option>Amol</option>
                                    <option>Manisha</option>
                                    <option>Sneha</option>
                                    <option>Jeni</option>
                                    <option>Others</option>
                                </select>
                            </div>
                        </div>
                        <br>

                        <br>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label" style="text-align:right">Message</label>
                            <div class="col-sm-8" style="padding-bottom: 10px;">
                                <textarea type="text" class="form-control" name="message" id="message" rows="5"
                                    cols="50" placeholder="Enter Message" ng-model='notes.message'>Message</textarea>
                                <div ng-messages="notesForm.$submitted && notesForm.message.$error" class="error_msg">
                                    <div ng-message="required">Enter Message</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-5">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                    style="padding:7px 20px;">Cancel</button>
                                <p ng-show="showaddpromsg" class="success_msg" style="text-align: center;">
                                    {{addpromsg}}</p>
                                <p ng-show="showaddproductsemsg" class="error_msg" style="text-align: center;">
                                    {{addproductsemsg}}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>