<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row"> </div>
            <h2 class="table_heading">WTS Details</h2>
            <div class="row">
                <div class="col-sm-9" ng-init="wtsById()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"> </div>
                                <form role="form" class="form-horizontal form-groups-bordered">

                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Client</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.client}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Product Title</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.product_title}}</p>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Type</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.product_type}}</p>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Brand</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.brand}}</p>
                                        </div>

                                    </div>




                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Qty</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.qty}}</p>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">EAN Number</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.ean}}</p>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Price</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.selling_price}}</p>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Warehouse</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.warehouse}}</p>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                            <button ng-click="goto('/wts-list')" type="button" class="btn btn_back">Back</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>