<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row"> </div>
            <div class="col-md-4">
                <h2 class="table_heading">WTB Details</h2>
            </div>
            <div class="col-md-4" ng-init="wtbById()">
                <h2 class="table_heading">Order Number: {{purchaseOrderWTSData.order_id}}</h2>
            </div>
            <div class="col-md-4">
                <div class="add_btn_container">
                    <button type="button" class="btn btn-primary" ng-click="goto('/wtb-list')"
                        style="margin-right: 150px; margin-top: 15px; float:right;">Back</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" ng-init="wtbById()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"> </div>
                                <form role="form" class="form-horizontal form-groups-bordered">
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Client</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.client}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Brand</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.brand}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Type</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.product_type}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Product Title</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.product_title}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">EAN Number</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.ean_number}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Qty</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.qty}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Price</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.price}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Total Price</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.total_price}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Target Price</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.target_price}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Shipping Type</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.shipping_type}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Shipping Price</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.shipping_price}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Status</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.status}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Delivery Location</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.warehouse}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Staff Member</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{purchaseOrderWTSData.team_member}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="add_btn_container  col-md-6" style="text-align:center;margin: 0px 0px 5px;">
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal_notes">Add Notes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <!-- Notes -->
            <div class="row">
                <div class="col-sm-12" ng-init="notesById()">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"> </div>
                                <table class="table table-bordered table-striped datatable" id="table-2">
                                    <thead>
                                        <tr>
                                            <th style="width:5%;">Sr. No</th>
                                            <th style="width:15%;">Date</th>
                                            <th style="width:25%;">Staff Member</th>
                                            <th style="width:45%;">Notes</th>
                                            <th style="width:10%;">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="wtb in noteLists">
                                            <td>{{$index+1}}</td>
                                            <td>{{wtb.date}}</td>
                                            <td>{{wtb.staff}}</td>
                                            <td>{{wtb.p_notes}}</td>
                                            <td>
                                                <a class="btn btn-info btn-sm btn-icon icon-left" data-toggle="modal"
                                                    data-target="#del_po" ng-click='delNotes(wtb.id)'>
                                                    <i class="entypo-cancel"></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="del_po" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 225px auto;">
        <div class="modal-content delete">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <img src="img/delete.svg">
                <h2>Confirm Delete ?</h2>
                <br>

                <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        style="padding:7px 20px;">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="confirmDelNotes(wtb.id)"
                        data-dismiss="modal" style="margin-left: 5px;">Delete</button>

                </div>
            </div>
        </div>
    </div>
</div>







<div class="modal fade" id="modal_notes" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 225px auto;">
        <div class="modal-content">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center" style="height:350px;">
                <form name="notesForm" data-ng-submit="addNotesByStaff(notes)" name="notesForm" id="notesForm" novalidate>

                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">Staff Member</label>
                        <div class="col-sm-8" style="padding-bottom: 10px;">
                            <select class="form-control" ng-model="notes.staff">
                                <option value="" selected data-default>Select Member</option>
                                <option>Amol</option>
                                <option>Manisha</option>
                                <option>Sneha</option>
                                <option>Jeni</option>
                                <option>Others</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <!-- <div class="form-group" ng-click="client2()">
                        <label for="field-1" class="col-sm-3 control-label">Client</label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">

                            <select class="form-control" ng-model="notes.client_id"
                                ng-options="client1.id as client1.company_name for client1 in clients | orderBy:'company_name' track by client1.id">
                                <option value="" selected data-default>Select Client</option>
                            </select>
                        </div>
                    </div>
                    <br> -->

                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">Message</label>
                        <div class="col-sm-8" style="padding-bottom: 10px;">
                            <textarea type="text" class="form-control" name="message" id="message" rows = "10" cols = "50"
                                placeholder="Enter Message" ng-model='notes.message'>Message</textarea>
                            <div ng-messages="notesForm.$submitted && notesForm.message.$error" class="error_msg">
                                <div ng-message="required">Enter Message</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                style="padding:7px 20px;">Cancel</button>
                                <p ng-show="showaddpromsg" class="success_msg" style="text-align: center;">
                                    {{addpromsg}}</p>
                                <p ng-show="showaddproductsemsg" class="error_msg"
                                    style="text-align: center;">{{addproductsemsg}}</p>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>