<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row"> </div>
            <div class="col-md-6">
                <h2 class="table_heading">Product Inquiry Details</h2>
            </div>
            <div class="col-md-6">
                <div class="add_btn_container">
                    <button type="button" class="btn btn-primary" ng-click="goto('/inquiry')"
                        style="margin-right: 150px; margin-top: 15px; float:right;">Back</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" ng-init="inquiryById()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"> </div>
                                <form role="form" class="form-horizontal form-groups-bordered">
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Client Id</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{inquiryData.client_id}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Client</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{inquiryData.client}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Brand</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{inquiryData.brand}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Product Type</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{inquiryData.product_type}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Product Title</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{inquiryData.product_title}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">EAN Number</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{inquiryData.ean_number}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Price</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{inquiryData.price}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="field-1" class="col-sm-3 control-label">Query</label>
                                        <div class="col-sm-5">
                                            <p for="field-1" class="control-label" style="text-align:left;padding-left:10px;">{{inquiryData.notes}}</p>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <div class="add_btn_container  col-md-6" style="text-align:center;margin: 0px 0px 5px;">
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal_notes">Add Notes</button>
                                        </div>
                                    </div> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>

<div class="modal fade" id="modal_notes" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 225px auto;">
        <div class="modal-content">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center" style="height:350px;">
                <form name="notesForm" data-ng-submit="discussion(notes)" name="notesForm" id="notesForm" novalidate>

                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">Staff Member</label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">
                            <select class="form-control" ng-model="notes.staff">
                                <option value="" selected data-default>Select Member</option>
                                <option>Amol Chawathe</option>
                                <option>Sneha Karanjikar</option>
                                <option>Manisha Ingulkar</option>
                                <option>Jenny</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-group" ng-click="client2()">
                        <label for="field-1" class="col-sm-3 control-label">Client</label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">

                            <select class="form-control" ng-model="notes.client_id"
                                ng-options="client1.id as client1.company_name for client1 in clients | orderBy:'company_name' track by client1.id">
                                <option value="" selected data-default>Select Client</option>
                            </select>
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">Message</label>
                        <div class="col-sm-5" style="padding-bottom: 10px;">
                            <textarea type="text" class="form-control" name="message" id="message"
                                placeholder="Enter Message" ng-model='notes.message'>Message</textarea>
                            <div ng-messages="notesForm.$submitted && notesForm.message.$error" class="error_msg">
                                <div ng-message="required">Enter Message</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                style="padding:7px 20px;">Cancel</button>
                            <p ng-show="showaddpromsg" class="success_msg" style="text-align: center;">{{addpromsg}}
                            </p>
                            <p ng-show="showaddproductsemsg" class="error_msg" style="text-align: center;">
                                {{addproductsemsg}}</p>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>