<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <h2 class="table_heading">Want To Sell List</h2>
                </div>
                <div class="col-md-2">
                    <div class="form-group" ng-click="supportWtsStatus()" style="display: initial;">
                        <div style="margin-top: 15px;">
                            <select class="form-control" ng-model="status.wts_status"
                                ng-change="selectedWTSStatus(status.wts_status)"
                                ng-options="staff.wts_status as staff.wts_status for staff in wtsStatus | orderBy:'wts_status' track by staff.wts_status">
                                <option value="" selected data-default>All Selected Status</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4" style="margin-top: 12px;">
                    <div class="icon-addon addon-sm">
                        <input type="text" placeholder="Search Product" class="form-control" ng-model="searchtxt"type="text">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary addp" ng-click="goto('/wts')">Add WTS</button>
                    </div>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-sm-12" ng-init="allWTS()">
                    <div class="panel panel-default table-hover">
                        <div class="panel-heading"> </div>
                        <table class="table table-bordered table-striped datatable" id="table-2">
                            <thead class="thead-light">
                                <tr>
                                    <th>Lead No</th>
                                    <th>Client</th>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Brand</th>
                                    <th>Color</th>
                                    <th>Selling Price</th>
                                    <th>Qty</th>
                                    <th>Total Price</th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                    <th>Action</th>
                                </tr>
                            <tbody>
                                </thead>
                                <tr ng-repeat="wts in wtsLists |  orderBy: 'id':true | filter: searchtxt">
                                    <td>{{wts.id}}</td>
                                    <td ng-click='viewHistory(wts.client_id)' style="cursor: pointer;">{{wts.client}}</td>
                                    <td ng-click='productStock(wts.product_title,wts.product_type,wts.selling_price,wts.p_id)' style="cursor: pointer;">{{wts.product_title}}</td>
                                    <td>{{wts.product_type}}</td>
                                    <td>{{wts.brand}}</td>
                                    <td>{{wts.color}}</td>
                                    <td>{{wts.selling_price}}</td>
                                    <td>{{wts.qty}}</td>
                                    <td>{{wts.total_price}}</td>
                                    <td>
                                        <form editable-form name="editableForm1" onaftersave="updateWtsStatus(wts.wts_status,wts.id)">
                                            <!-- <div>
                                                <span editable-text="wts.wts_status" e-name="wts_status" onbeforesave="checkName($data)" >{{ wts.wts_status || 'Add Status' }}</span>
                                            </div> -->
                                            <select editable-text="wts.wts_status" e-name="wts_status" onbeforesave="checkName($data)" class="form-control" ng-model="wts.wts_status"name="wts_status" style="width: 130px;">
                                                <option value="" selected data-default>Select</option>
                                                <option>Ready To Ship</option>
                                                <option>Inspect</option>
                                                <option>Sold</option>
                                            </select>
                                            <div class="buttons">
                                                <i class="fa fa-pencil" aria-hidden="true" ng-click="editableForm1.$show()" ng-show="!editableForm1.$visible"></i>
                                                <span ng-show="editableForm1.$visible">
                                                    <button type="submit" class="btn btn-primary" ng-disabled="editableForm1.$waiting" style="padding:2px;margin: 2px 0px;">Save
                                                    </button>
                                                    <button type="button" class="btn btn-default" ng-disabled="editableForm1.$waiting" ng-click="editableForm1.$cancel()" style="padding:2px;">
                                                    Cancel
                                                    </button>
                                                </span>
                                            </div>
                                        </form> 
                                    </td>
                                    <td>
                                        <form editable-form name="editableForm" onaftersave="wtsNotes(wts.p_notes,wts.p_id,wts.client_id)">
                                            <div>
                                                <span editable-text="wts.p_notes" e-name="p_notes" onbeforesave="checkName($data)">{{ wts.p_notes || 'Empty' }}</span>
                                            </div>
                                            <div class="buttons">
                                                <i class="fa fa-pencil" aria-hidden="true" ng-click="editableForm.$show(wts.p_id,wts.client_id)" ng-show="!editableForm.$visible"></i>
                                                <span ng-show="editableForm.$visible">
                                                    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting" style="padding:2px;margin: 2px 0px;">Save
                                                    </button>
                                                    <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()" style="padding:2px;">
                                                    Cancel
                                                    </button>
                                                </span>
                                            </div>
                                        </form> 
                                    </td>
                                    <td>
                                        <a class="btn btn-default btn-sm btn-icon icon-left"
                                            ng-click='editWts(wts.id)'>
                                            <i class="entypo-pencil"></i> Edit
                                        </a>

                                        <a class="btn btn-info btn-sm btn-icon icon-left"
                                            ng-click='viewWts(wts.id)'>
                                            <i class="entypo-info"></i> View
                                        </a>
                                        <a class="btn btn-danger btn-sm btn-icon icon-left" data-toggle="modal"
                                            data-target="#del_po" ng-click='poDel(wts.id)'>
                                            <i class="entypo-cancel"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <p ng-show="showdeletemsgmsg" class="success_msg">{{deletemsg}}</p> -->
                    </div>
                    <div style="text-align: center;font-size:25px;font-weight:600"><i ng-hide="wtsLists" class="fa fa-spinner" aria-hidden="true">
                        Page loading...</i></div>
                </div>
            </div>
            <!-- Footer -->
        </div>
    </div>

    <div class="modal fade" id="del_po" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="img/delete.svg">
                    <h2>Confirm Delete ?</h2>
                    <br>

                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="confirmPoDel(wts.id)"
                            data-dismiss="modal" style="margin-left: 5px;">Delete</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>