<div class="row" ng-controller="businessLoginController" > 
      <div class="container-fluid" >
        <div class="">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div style="border-radius: 2px;font-size: 18px;" class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a type="button" class="nav-link" ng-click="goto('list-medicines')">Medicines <span class="sr-only">(current)</span></a>
                </li>
                <li style="margin-left: 12px;" class="nav-item">
                  <a type="button" class="nav-link">Activity</a>
                </li>
                <li style="margin-left: 12px;" class="nav-item">
                  <a type="button" class="nav-link" ng-click="goto('compose-email')" >Email</a>
                </li>
                
              </ul>
            </div>
            <div style="margin-right: 10px; color: white;" >
              <a class="nav-link"> {{username}} </a>
              <a type="button" class="nav-link" style="text-align: right;" ng-click="logout()"> Log Out 
                <i class="entypo-logout right"></i> 
              </a>
            </div> 
          </nav>
        </div>
      </div>
    </div>
