<div>
    <div class="navbar-fixed-top" ng-include="getTopMenu()"></div>
</div>
<div style="margin-top: 50px;">
    <div class="page-container">
        <header ng-include="getLeftMenu()"></header>
        <div class="main-content">
            <!-- <h5 style="float: right;">@Parcelfromindia.com</h5><br> -->
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 style="text-align: left;" class="">Delivery Drivers List</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <button type="button" style="margin-right: 60px; margin-top: 15px; float:right;" class="btn btn-primary" ng-click="goto('/parcels')" >Back</button>
                        <!-- <button type="button" style="margin-right: 10px; margin-top: 15px; float:right;" class="btn btn-primary" ng-click="goto('/add-activity')">Add Activity</button> -->
                    </div>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-sm-12" ng-init="getDeliveryDrivers()">
                    <div class=" md">
                        <div class="panel panel-default table-hover table-responsive">
                            <div class="panel-heading"> </div>
                            <table class="table table-bordered table-striped datatable" id="table-2">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Booking No</th>
                                        <th>Driver Name</th>
                                        <th>Address</th>
                                        <th>Contact</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="list in deliverylist |  orderBy: 'id':true | filter: list">
                                        <td style="cursor: pointer;color:blue;" ng-click="getDetails(list.booking_no)">#{{list.booking_no}}</td>
                                        <td>{{list.ddriver}}</td>
                                        <td>                                            
                                            {{list.to_name}} <br>
                                            {{list.to_address}} <br>
                                            {{list.to_address2}}
                                            {{list.to_postal}} <br>
                                            {{list.to_city}} 
                                            {{list.to_state}} <br>
                                            {{list.to_country}}
                                        </td>
                                        <td>
                                            Phone No - <span style="cursor: pointer;color:blue;">{{list.to_phone}}</span><br>
                                            Email ID - <span style="cursor: pointer;color:blue;">{{list.to_email}}</span>
                                        </td>
                                        <td> 
                                            <a  class="btn btn-info btn-sm btn-icon icon-left "  
                                                ng-click="goto('/compose-email')">
                                                <i class="entypo-eye"></i>
                                                Send Mail
                                            </a>
                                            <a  class="btn btn-info btn-sm btn-icon icon-left" 
                                                data-toggle="modal"
                                                data-target="#del_po" ng-click='removeActivity(list.booking_no)'>
                                                <i class="entypo-cancel"></i>
                                                Delete
                                            </a>
                                        </td>                             
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="del_po" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" style="margin: 225px auto;">
                    <div class="modal-content delete">
                        <div class="modal-header" style="border: 2px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body text-center">
                            <img src="img/delete.svg">
                            <h2>Confirm Delete ?</h2>
                            <br>
                            <div>
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                    style="padding:7px 20px;">Cancel</button>
                                <button type="button" class="btn btn-primary" ng-click="confremoveActivity()"
                                    data-dismiss="modal" style="margin-left: 5px;">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


