<div>
    <div class="navbar-fixed-top" ng-include="getTopMenu()"></div>
</div>
<div style="margin-top: 50px;">
    <div class="page-container">
        <header ng-include="getLeftMenu()"></header>
        <div class="main-content">
            <!-- <header ng-include="'partials/user_menu.html'"></header> -->
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 style="text-align: left;" class="">Driver List</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <!-- <button type="button" style="margin-right: 60px; margin-top: 15px; float:right;" class="btn btn-primary" ng-click="goto('/parcels')" >Back</button>
                        <button type="button" style="margin-right: 10px; margin-top: 15px; float:right;" class="btn btn-primary" ng-click="goto('/add-driver')">Add Driver</button> -->
                    </div>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-sm-12" ng-init="listDriver_level62()">
                    <div class=" md">
                        <div class="panel panel-default table-hover table-responsive">
                            <div class="panel-heading"> </div>
                            <table class="table table-bordered table-striped datatable" id="table-2">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Contact</th>
                                        <th>Bank Details</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="list in drivers |  orderBy: 'id':true | filter: list">
                                        <td style="cursor: pointer;color:blue;" >#{{list.id}}</td>
                                        <td>{{list.name}}</td>
                                        <td>
                                           {{list.add1}}<br>
                                           {{list.add2}}
                                           {{list.city}}
                                           {{list.state}} <br>
                                           {{list.country}}
                                        </td>
                                        <td>
                                            Phone No - <span style="cursor: pointer;color:blue;">{{list.phone}}</span><br>
                                            Email ID - <span style="cursor: pointer;color:blue;">{{list.email}}</span>
                                        </td>
                                        <td>
                                            Bank Name - {{list.bname}} <br>
                                            A/C No - {{list.ac_no}}<br>
                                            IFSC - {{list.ifsc}}
                                        </td>
                                        <td> 
                                            <!-- <a  class="btn btn-info btn-sm btn-icon icon-left "  
                                                ng-click="goto('/compose-email')">
                                                <i class="entypo-eye"></i>
                                                Send Mail
                                            </a> -->
                                            <a  class="btn btn-info btn-sm btn-icon icon-left" 
                                                data-toggle="modal"
                                                data-target="#del_po" ng-click='removeDriver(list.id)'>
                                                <i class="entypo-cancel"></i>
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="!drivers" style="text-align: center;font-size:25px;font-weight:600">
                            <i ng-hide="drivers" class="fa fa-spinner" aria-hidden="true">
                                Page loading...
                            </i>
                        </div>
                        <div ng-if="drivers && !drivers.length" style="text-align: center;font-size:25px;font-weight:600">
                            <h3>No record found</h3>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="del_po" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" style="margin: 225px auto;">
                    <div class="modal-content delete">
                        <div class="modal-header" style="border: 2px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body text-center">
                            <img src="img/delete.svg">
                            <h2>Confirm Delete ?</h2>
                            <br>
                            <div>
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                    style="padding:7px 20px;">Cancel</button>
                                <button type="button" class="btn btn-primary" ng-click="confRemoveDriver()"
                                    data-dismiss="modal" style="margin-left: 5px;">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


