<div>
    <div class="navbar-fixed-top" ng-include="getTopMenu()"></div>
</div>
<div style="margin-top: 50px;">
    <div class="page-container" >
        <div ng-include="getLeftMenu()">
        </div>
        <!-- <div style="text-align: center; position: fixed; ">
            <h4 ng-show="showUpdateMessage" class="success_msg" style="text-align: center;">
                {{updateMessage}}</h4>
            <h4 ng-show="showUpdateMessage2" class="error_msg"
                style="text-align: center;">{{updateMessage}}</h4>
        </div> -->
        <div class="main-content">

            <hr />
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="table_heading">Medicines List</h2>
                </div>

                <div class="col-md">
            
                </div>
                <div class="col-md">

                </div>
                <div class="row col-md-6">
      
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary addp" ng-click="downloadCSV()">Download
                            CSV
                        </button>
                    </div>

                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary addp" ng-click="goto('medicine_booking')">
                            Book Medicines
                        </button>
                    </div>

                </div>
                <!-- <div class="form-group col-md-3" style="margin-top:15px;">
                    <div class="icon-addon addon-sm">
                        <input type="text" placeholder="Search lists" class="form-control" ng-model="list.id"type="text">
                    </div>
                </div> -->
            </div>
            <hr />  


            <div class="row">
                <div class="col-sm-12" ng-init="getMedicineBookings_shankar()">
                    <div style="position: fixed; background-color: white;">
                        <div style="text-align: center;">
                            <h4 ng-show="showUpdateMessage" class="success_msg" style="text-align: center;">
                                {{updateMessage}}</h4>
                            <h4 ng-show="showUpdateMessage2" class="error_msg"
                                style="text-align: center;">{{updateMessage2}}</h4>
                        </div>
                    </div>
                    <div class="md">
                        <div class="panel panel-default table-hover table-responsive">
                            <div class="panel-heading"> </div>
                            <table class="table table-bordered table-striped datatable" id="table-2">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Booking No</th>
                                        <th>Address</th>
                                        <th>Booking Date</th>
                                        <th>Req. Days</th>
                                        <th>Items List</th>
                                        <th>Notes</th>
                                        <th>Status</th>
                                        <th>Staff</th>
                                        <th>Weight</th>
                                        <th>Invoice No</th>
                                        <th>Invoice Payment</th>
                                        <th>Payment Received</th>
                                        <th>Actual Payment</th>
                                        <th>Balanced Payment</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="list in medicineBookings|  orderBy: 'id':true | filter: list">
                                        <td>{{list.id}}</td>
                                        <td>
                                            {{list.name}} <br>
                                            {{list.add1}} <br>
                                            {{list.add2}} <br>
                                            {{list.city}}
                                            {{list.state}}
                                            {{list.country}} <br>
                                            Phone No - <span style="cursor: pointer;color:blue;">{{list.phone}}</span><br>
                                            Email ID - <span style="cursor: pointer;color:blue;">{{list.email}}</span>
                                        </td>
                                        <td>{{setDate(list.date)}}</td>
                                        <td>{{days(list.date)}} Days Ago</td>
                                        <td>{{list.items}}</td>
                                        <td>{{list.notes}}</td>
                                        <td ng-click="$event.stopPropagation();">
                                            <form editable-form name="editableForm"
                                                onaftersave="updateMedicine(list.status,list.id)">
                                                <select editable-text="list.status"
                                                    ng-change="updateMedicine(list.status,list.id)" e-name="status"
                                                    onbeforesave="checkName($data)" class="form-control"
                                                    ng-model="list.status" name="status" style="width: 130px;">
                                                    <option value="" selected data-default>Select</option>
                                                    <option>Open</option>
                                                    <option>Payment Pending</option>
                                                    <option>Payment Completed</option>
                                                    <option>Pickup Pending</option>
                                                    <option>Pickup Assigned</option>
                                                    <option>Pickup Completed</option>
                                                    <option>Pune Warehouse</option>
                                                    <option>Kolkatta Warehouse</option>
                                                    <option>Singapore Warehouse</option>
                                                    <option>International Transit</option>
                                                    <option>Delivery Warehouse</option>
                                                    <option>Banglore Shipment</option>
                                                    <option>Domestic Transit</option>
                                                    <option>Network I</option>
                                                    <option>Network II</option>
                                                    <option>Network III</option>
                                                    <option>Network IV</option>
                                                    <option>Network V</option>
                                                    <option>Kunal I</option>
                                                    <option>Kunal II</option>
                                                    <option>Kunal III</option>
                                                    <option>Air Cargo I</option>
                                                    <option>Air Cargo II</option>
                                                    <option>Air Cargo III</option>
                                                    <option>Air Cargo IV</option>
                                                    <option>Air Cargo V</option>
                                                    <option>Delivered</option>
                                                    <option>Completed</option>
                                                    <option>Medicine</option>
                                                    <option>Canceled</option>
                                                </select>
                                                <div class="buttons">
                                                    <i class="fa fa-pencil" aria-hidden="true"
                                                        ng-click="editableForm.$show()"
                                                        ng-show="!editableForm.$visible"></i>
                                                    <span ng-show="editableForm.$visible">
                                                        <button type="submit" class="btn btn-primary"
                                                            ng-disabled="editableForm.$waiting"
                                                            style="padding:2px;margin: 2px 0px;">Save
                                                        </button>
                                                        <a type="button" class="btn btn-default"
                                                            ng-disabled="editableForm.$waiting"
                                                            ng-click="editableForm.$cancel()" style="padding:2px;">
                                                            Cancel
                                                        </a>
                                                    </span>
                                                </div>
                                            </form>
                                        </td>  
                                        <td ng-click="$event.stopPropagation();">
                                            <form editable-form name="editableForm"
                                                onaftersave="updateMedicineStaff(list.staff,list.id)">
                                                <select editable-text="list.staff"
                                                    ng-change="updateMedicineStaff(list.staff,list.id)"
                                                    e-name="staff" onbeforesave="checkName($data)"
                                                    class="form-control" ng-model="list.staff"
                                                    name="staff" style="width: 130px;">
                                                    <option value="" selected data-default>Select</option>
                                                    <option>Amol </option>
                                                    <option>Pavan</option>
                                                    <option>Sneha</option>
                                                    <option>Manisha</option>
                                                    <option>Shradha</option>
                                                    <option>Barsha</option>
                                                    <option>Ajay</option>
                                                    <option>Shankar Mumbai</option>
                                                    <option>Kirti Delhi</option>
                                                    <option>Selva</option>
                                                    <option>Gagan</option>
                                                    <option>Kundan</option>
                                                    <option>Gaurav Medicine</option>
                                                    <option>Professional Courier</option>
                                                    <option>DTDC</option>
                                                    <option>Trackon</option>
                                                    <option>DHL</option>
                                                    <option>DPEX</option>
                                                    <option>Air Cargo</option>
                                                    <option>Ship Cargo</option>
                                                </select>
                                                <div class="buttons">
                                                    <i class="fa fa-pencil" aria-hidden="true"
                                                        ng-click="editableForm.$show()"
                                                        ng-show="!editableForm.$visible"></i>
                                                    <span ng-show="editableForm.$visible">
                                                        <button type="submit" class="btn btn-primary"
                                                            ng-disabled="editableForm.$waiting"
                                                            style="padding:2px;margin: 2px 0px;">Save
                                                        </button>
                                                        <a type="button" class="btn btn-default"
                                                            ng-disabled="editableForm.$waiting"
                                                            ng-click="editableForm.$cancel()" style="padding:2px;">
                                                            Cancel
                                                        </a>
                                                    </span>
                                                </div>
                                            </form>
                                        </td>
                                        <td ng-click="$event.stopPropagation();">
                                            <form editable-form name="editableForm"
                                                onaftersave="updateMedicineWeight(list.id,list.weight)">
                                                <input type="text" 
                                                        editable-text="list.weight"
                                                        ng-change="updateMedicineWeight(list.id,list.weight)" 
                                                        e-name="weight"
                                                        class="form-control"
                                                        ng-model="list.weight" 
                                                        name="weight" style="width: 130px;">
                                                <div class="buttons">
                                                    <i class="fa fa-pencil" aria-hidden="true"
                                                        ng-click="editableForm.$show()"
                                                        ng-show="!editableForm.$visible"></i>
                                                    <span ng-show="editableForm.$visible">
                                                        <button type="submit" class="btn btn-primary"
                                                            ng-disabled="editableForm.$waiting"
                                                            style="padding:2px;margin: 2px 0px;">Save
                                                        </button>
                                                        <a type="button" class="btn btn-default"
                                                            ng-disabled="editableForm.$waiting"
                                                            ng-click="editableForm.$cancel()" style="padding:2px;">
                                                            Cancel
                                                        </a>
                                                    </span>
                                                </div>
                                            </form>
                                        </td>
                                        <td ng-click="$event.stopPropagation();">
                                            <form editable-form name="editableForm"
                                                onaftersave="updateMedicineInvoiceNo(list.id,list.invoice_no)">
                                                <input type="text" 
                                                        editable-text="list.invoice_no"
                                                        ng-change="updateMedicineInvoiceNo(list.id,list.invoice_no)" 
                                                        e-name="invoice_no"
                                                        class="form-control"
                                                        ng-model="list.invoice_no" 
                                                        name="invoice_no" style="width: 130px;">
                                                <div class="buttons">
                                                    <i class="fa fa-pencil" aria-hidden="true"
                                                        ng-click="editableForm.$show()"
                                                        ng-show="!editableForm.$visible"></i>
                                                    <span ng-show="editableForm.$visible">
                                                        <button type="submit" class="btn btn-primary"
                                                            ng-disabled="editableForm.$waiting"
                                                            style="padding:2px;margin: 2px 0px;">Save
                                                        </button>
                                                        <a type="button" class="btn btn-default"
                                                            ng-disabled="editableForm.$waiting"
                                                            ng-click="editableForm.$cancel()" style="padding:2px;">
                                                            Cancel
                                                        </a>
                                                    </span>
                                                </div>
                                            </form>
                                        </td>

                                        <td ng-click="$event.stopPropagation();">
                                            <form editable-form name="editableForm"
                                                onaftersave="updateMedicineInvoicePayment(list.id,list.invoice_payment)">
                                                <input type="text" 
                                                        editable-text="list.invoice_payment"
                                                        ng-change="updateMedicineInvoicePayment(list.id,list.invoice_payment)" 
                                                        e-name="invoice_payment"
                                                        class="form-control"
                                                        ng-model="list.invoice_payment" 
                                                        name="invoice_payment" style="width: 130px;">
                                                <div class="buttons">
                                                    <i class="fa fa-pencil" aria-hidden="true"
                                                        ng-click="editableForm.$show()"
                                                        ng-show="!editableForm.$visible"></i>
                                                    <span ng-show="editableForm.$visible">
                                                        <button type="submit" class="btn btn-primary"
                                                            ng-disabled="editableForm.$waiting"
                                                            style="padding:2px;margin: 2px 0px;">Save
                                                        </button>
                                                        <a type="button" class="btn btn-default"
                                                            ng-disabled="editableForm.$waiting"
                                                            ng-click="editableForm.$cancel()" style="padding:2px;">
                                                            Cancel
                                                        </a>
                                                    </span>
                                                </div>
                                            </form>
                                        </td>

                                        <td ng-click="$event.stopPropagation();">
                                            <form editable-form name="editableForm"
                                                onaftersave="updateMedicinePaymentReceived(list.id,list.payment_received)">
                                                <input type="text" 
                                                        editable-text="list.payment_received"
                                                        ng-change="updateMedicinePaymentReceived(list.id,list.payment_received)" 
                                                        e-name="payment_received"
                                                        class="form-control"
                                                        ng-model="list.payment_received" 
                                                        name="payment_received" style="width: 130px;">
                                                <div class="buttons">
                                                    <i class="fa fa-pencil" aria-hidden="true"
                                                        ng-click="editableForm.$show()"
                                                        ng-show="!editableForm.$visible"></i>
                                                    <span ng-show="editableForm.$visible">
                                                        <button type="submit" class="btn btn-primary"
                                                            ng-disabled="editableForm.$waiting"
                                                            style="padding:2px;margin: 2px 0px;">Save
                                                        </button>
                                                        <a type="button" class="btn btn-default"
                                                            ng-disabled="editableForm.$waiting"
                                                            ng-click="editableForm.$cancel()" style="padding:2px;">
                                                            Cancel
                                                        </a>
                                                    </span>
                                                </div>
                                            </form>
                                        </td>
                                        <td ng-click="$event.stopPropagation();">
                                            <form editable-form name="editableForm"
                                                onaftersave="updateMedicineActualPayment(list.id,list.actual_payment)">
                                                <input type="text" 
                                                        editable-text="list.actual_payment"
                                                        ng-change="updateMedicineActualPayment(list.id,list.actual_payment)" 
                                                        e-name="actual_payment"
                                                        class="form-control"
                                                        ng-model="list.actual_payment" 
                                                        name="actual_payment" style="width: 130px;">
                                                <div class="buttons">
                                                    <i class="fa fa-pencil" aria-hidden="true"
                                                        ng-click="editableForm.$show()"
                                                        ng-show="!editableForm.$visible"></i>
                                                    <span ng-show="editableForm.$visible">
                                                        <button type="submit" class="btn btn-primary"
                                                            ng-disabled="editableForm.$waiting"
                                                            style="padding:2px;margin: 2px 0px;">Save
                                                        </button>
                                                        <a type="button" class="btn btn-default"
                                                            ng-disabled="editableForm.$waiting"
                                                            ng-click="editableForm.$cancel()" style="padding:2px;">
                                                            Cancel
                                                        </a>
                                                    </span>
                                                </div>
                                            </form>
                                        </td>
                                        <td ng-click="$event.stopPropagation();">
                                            <form editable-form name="editableForm"
                                                onaftersave="updateMedicineBalancedPayment(list.id,list.balanced_payment)">
                                                <input type="text" 
                                                        editable-text="list.balanced_payment"
                                                        ng-change="updateMedicineBalancedPayment(list.id,list.balanced_payment)" 
                                                        e-name="balanced_payment"
                                                        class="form-control"
                                                        ng-model="list.balanced_payment" 
                                                        name="balanced_payment" style="width: 130px;">
                                                <div class="buttons">
                                                    <i class="fa fa-pencil" aria-hidden="true"
                                                        ng-click="editableForm.$show()"
                                                        ng-show="!editableForm.$visible"></i>
                                                    <span ng-show="editableForm.$visible">
                                                        <button type="submit" class="btn btn-primary"
                                                            ng-disabled="editableForm.$waiting"
                                                            style="padding:2px;margin: 2px 0px;">Save
                                                        </button>
                                                        <a type="button" class="btn btn-default"
                                                            ng-disabled="editableForm.$waiting"
                                                            ng-click="editableForm.$cancel()" style="padding:2px;">
                                                            Cancel
                                                        </a>
                                                    </span>
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            <a type="button" class="btn btn-danger btn-sm btn-icon icon-left" data-toggle="modal"
                                                data-target="#del_po" ng-click='removeMedicineBooking(list.id)'>
                                                <i class="entypo-cancel"></i> Delete
                                            </a><br>
                                            <!-- <a type="button" class="btn btn-info btn-sm btn-icon icon-left" data-toggle="modal" style="margin: 5px 0px;border:none;"
                                                data-target="#uploadDocuments" ng-click='addActivity(list.id,list.email)'>
                                                <i class="entypo-plus"></i>Activity
                                            </a><br> -->
                                            <!-- <a type="button" class="btn btn-success btn-sm btn-icon icon-left" data-toggle="modal" style="margin: 5px 0px;border:none;" 
                                                    data-target="#addNotes" ng-click='addNotes(list.id,list.assign_to,list.req_user)'>
                                                    <i class="entypo-comment"></i>ADD Notes
                                            </a> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="!medicineBookings" style="text-align: center;font-size:25px;font-weight:600">
                            <i ng-hide="desk" class="fa fa-spinner" aria-hidden="true">
                                Page loading...
                            </i>
                        </div>
                        <div ng-if="medicineBookings && !medicineBookings.length" style="text-align: center;font-size:25px;font-weight:600">
                            <h3>No record found</h3>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Footer -->
        </div>
    </div>

    <div class="modal fade" id="del_po" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border: 2px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="img/delete.svg">
                    <h2>Confirm Delete ?</h2>
                    <br>
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="confRemoveMedicineBooking(list.id)"
                            data-dismiss="modal" style="margin-left: 5px;">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadDocuments" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 225px auto;">
        <div class="modal-content">
            <div class="modal-body text-center " style="height:300px;">
                <div >
                <form name="uploadDocumentsForm" 
                enctype="multipart/form-data" method="POST" 
                ng-submit="uploadDocuments(uploadDocumentsForm,document)" 
                name="uploadDocumentsForm" id="uploadDocumentsForm" novalidate>
                    <div class="form-group">
                        <h3 for="field-1" class="col-sm-12">Activity</h3>
                    </div>
                    <hr>
                    <div  style="text-align: left; padding-left: 10px;">
                        <div  class="">
                            <label >Choose File :</label> 
                                <input type="file" 
                                class="form-control-file"
                                onchange="angular.element(this).scope().updateattachment2()" 
                                id="document-file"
                                ngf-select placeholder="Choose Image" 
                                ng-model="document.file" ><br>
                        </div>
                        <div class="">
                            <label >Message</label><br>
                                <textarea id="message"
                                name="message"
                                ng-model="document.message" 
                                class="form-control" 
                                rows="3"></textarea><br>
                        </div>
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary" >Upload</button>
                            <button class="btn btn-light" ng-click="reload()">Cancel</button>
                        </div><br>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add notes -->
<div class="modal fade" id="addNotes" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 225px auto;">
        <div class="modal-content">
            <!-- <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div> -->
            <div class="modal-body text-center" style="height:330px;">
                <form name="supportform" data-ng-submit="addlistsNotes(mydesk)" name="supportform" id="supportform"
                    novalidate>
                    <div class="form-group">
                        <h3 for="field-1" class="col-sm-12">Add Support Notes</h>
                            <div class="col-sm-12" style="padding-bottom: 10px;">
                                <textarea type="text" class="form-control" name="sup_notes" id="sup_notes" rows="10"
                                    placeholder="Write Support Notes" ng-model='mydesk.sup_notes'></textarea>
                                <div ng-messages="supportform.$submitted && supportform.sup_notes.$error"
                                    class="error_msg">
                                    <div ng-message="required">Enter Notes</div>
                                </div>
                            </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                style="padding:7px 20px;">Cancel</button>
                            <p ng-show="showaddpromsg" class="success_msg" style="text-align: center;">{{addpromsg}}
                            </p>
                            <p ng-show="showaddproductsemsg" class="error_msg" style="text-align: center;">
                                {{addproductsemsg}}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>