<div 
id="sidenav-trigger"  class="sidebar-collapse"
style="margin-top: 70px;
position: fixed;
top: 40px;
left: 50px;
border: 1px solid #eee;
border-radius: 2px;
font-size: 20px;">

<a href="" class="sidebar-collapse-icon with-animation" ng-click="showhide('sidebar')">
    <i class="entypo-menu"></i> 
</a>
</div>

<div id="sidebar" class="sidebar-menu" style="width: 220px;">
<header class="logo-env">
    <div class="sidebar-collapse">
        <a href="" class="sidebar-collapse-icon with-animation" ng-click="showhide('sidebar')">
            <i class="entypo-menu"></i> </a>
    </div>
    <div class="sidebar-mobile-menu visible-xs">
        <a href="" class="with-animation" ng-click="showhide('main-menu')">
            <i class="entypo-menu"></i> </a>
    </div>
</header>
<ul id="main-menu" class="">
    <li class="opened active"> <a href="" ng-click="showhide('sub_menu')"><i class="entypo-menu"></i>
        <span>Admin Action</span></a>

        <ul id="sub_menu" style="cursor: pointer;">
            <span style="margin-left: 30px;">Staff Wise Parcels</span>                    
            <li class="oplist">
                <a ng-click="goto('phstaffamol')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Amol</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffpavan')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Pawan</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffsneha')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Sneha</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffmanisha')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Manisha</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffshradha')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Shradha</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffbarsha')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Barsha</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffajay')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Ajay</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffsm')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Shankar Mumbai</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffkd')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Kirti Delhi</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffselva')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Selva</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffgagan')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Gagan</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffkundan')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Kundan</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffgauravm')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Gaurav Medicines</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffpc')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Professional Courier</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffdtdc')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>DTDC</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstafftrackon')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Trackon</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffdhl')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>DHL</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffdpex')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>DPEX</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffaircargo')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Air Cargo</span>
                </a>
            </li>
            <li class="oplist">
                <a ng-click="goto('phstaffshipcargo')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i><span>Ship Cargo</span>
                </a>
            </li>
        </ul>

    </li>
</ul>
</div>

</div>

<!-- responsive collapse -->
