<div>
    <div class="navbar-fixed-top" ng-include="getTopMenu()"></div>
</div>
<div style="margin-top: 50px;">
    <div class="page-container">
        <header ng-include="getLeftMenu()"></header>
        <div class="main-content">
            <!-- <header ng-include="'partials/user_menu.html'"></header> -->
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="table_heading">Add Driver</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <button type="button" class="btn btn-primary" ng-click="goto('/driver-list')"
                            style="margin-right: 150px; margin-top: 15px; float:right;">Back</button>

                    </div>
                </div>
            </div>
            <hr />
            <div class="container">
                <form name="driverform" ng-submit="createDriver(driverdata)" name="driverform" id="driverform" novalidate>                    
                <div class="row">
                        <div class="col">

                            <div class="form-group">
                                <label for="field-1">Username</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" name="username" id="username"
                                        placeholder="Enter Username" ng-model='driverdata.username'></input>                                    
                                        <div ng-messages="driverform.$submitted && driverform.username.$error" class="error_msg">
                                            <div ng-message="required">Enter Username</div>
                                        </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="field-1">Driver Name</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" name="name" id="name"
                                        placeholder="Enter Driver Name" ng-model='driverdata.name'></input>                                    
                                        <div ng-messages="driverform.$submitted && driverform.name.$error" class="error_msg">
                                            <div ng-message="required">Enter Driver Name</div>
                                        </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="field-1">Address-1</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" name="add1" id="add1"
                                        placeholder="Enter Address-1" ng-model='driverdata.add1'></input>
                                    <div ng-messages="driverform.$submitted && driverform.add1.$error" class="error_msg">
                                        <div ng-message="required">Enter Address-1</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="field-1">Address-2</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" name="add2" id="add2"
                                        placeholder="Enter Address-2" ng-model='driverdata.add2'></input>
                                    <div ng-messages="driverform.$submitted && driverform.add2.$error" class="error_msg">
                                        <div ng-message="required">Enter Address-2</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="field-1">City</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" rows="4" class="form-control" name="city" id="city"
                                        placeholder="Enter City" ng-model='driverdata.city'></input>
                                    <div ng-messages="driverform.$submitted && driverform.city.$error" class="error_msg">
                                        <div ng-message="required">Enter City</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="field-1">State</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" name="state" id="state"
                                        placeholder="Enter State" ng-model='driverdata.state'></input>
                                    <div ng-messages="driverform.$submitted && driverform.state.$error" class="error_msg">
                                        <div ng-message="required">Enter State</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="field-1">Country</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" rows="2" class="form-control" name="country" id="country"
                                        placeholder="Enter Country" ng-model='driverdata.country'></input>
                                    <div ng-messages="driverform.$submitted && driverform.country.$error" class="error_msg">
                                        <div ng-message="required">Enter Country</div>
                                    </div>
                                </div>
                            </div>   

                        </div>

                        <div class="col">

                            <div class="form-group">
                                <label for="field-1">Password</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="password" class="form-control" name="password" id="password"
                                        placeholder="Enter Password" ng-model='driverdata.password'></input>                                    
                                        <div ng-messages="driverform.$submitted && driverform.password.$error" class="error_msg">
                                            <div ng-message="required">Enter Driver Name</div>
                                        </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="field-1">Phone</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="number" class="form-control" name="phone" id="phone"
                                        placeholder="Enter Phone" ng-model='driverdata.phone'>
                                    <div ng-messages="driverform.$submitted && driverform.phone.$error" class="error_msg">
                                        <div ng-message="required">Enter Phone</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="field-1">Email</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Enter Email" ng-model='driverdata.email'>
                                    <div ng-messages="driverform.$submitted && driverform.email.$error" class="error_msg">
                                        <div ng-message="required">Enter Email</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="field-1">Bank Name</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" name="bname" id="bname"
                                        placeholder="Enter Bank Name" ng-model='driverdata.bname'>
                                    <div ng-messages="driverform.$submitted && driverform.bname.$error" class="error_msg">
                                        <div ng-message="required">Enter Email</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="field-1">Bank A/C No</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="number" class="form-control" name="ac_no" id="ac_no"
                                        placeholder="Enter A/C No" ng-model='driverdata.ac_no'>
                                    <div ng-messages="driverform.$submitted && driverform.ac_no.$error" class="error_msg">
                                        <div ng-message="required">Enter A/C No</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="field-1">IFSC</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" name="ifsc" id="ifsc"
                                        placeholder="Enter IFSC" ng-model='driverdata.ifsc'>
                                    <div ng-messages="driverform.$submitted && driverform.ifsc.$error" class="error_msg">
                                        <div ng-message="required">Enter Email</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                        <h4 ng-show="showaddDriverMessage" class="success_msg" style="text-align: center;">
                            {{addDriverMessage}}</h4>
                        <h4 ng-show="showaddDriverMessage2" class="error_msg"
                            style="text-align: center;">{{addDriverMessage2}}</h4>

                    </div>
                    <hr>
                    <div class="form-group">
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="submit" class="btn btn-light" on-click="reload()" >Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>