<div>
    <div class="navbar-fixed-top" ng-include="getTopMenu()"></div>
</div>
<div style="margin-top: 50px;">
        <div class="page-container">
        <header ng-include="getLeftMenu()"></header>
        <div class="main-content">
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="table_heading">Medicine Booking</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <!-- <button type="button" class="btn btn-primary" ng-click="goto('/list_medicines_6')"
                            style="margin-right: 150px; margin-top: 15px; float:right;"> Medicines List</button> -->

                    </div>
                </div>
            </div>
            <hr />
            <div class="container">
                <form name="medicineForm" data-ng-submit="medicineBooking(medicinedata)" name="medicineForm" id="medicineForm" novalidate>                    
                <div class="row">

                    <div class="col-sm-3"></div>

                        <div class="col-sm-6" >
                            
                            <div class="form-group">
                                <label for="field-1">Customer Name</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" name="name" id="name"
                                        placeholder="Enter Customer Name" ng-model='medicinedata.name'></input>                                    
                                        <div ng-messages="medicineForm.$submitted && medicineForm.name.$error" class="error_msg">
                                            <div ng-message="required">Enter Customer Name</div>
                                        </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="field-1">Email</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Enter Email" ng-model='medicinedata.email'>
                                    <div ng-messages="medicineForm.$submitted && medicineForm.email.$error" class="error_msg">
                                        <div ng-message="required">Enter Email</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" >

                                <div class="col-sm-6">
                                    <label for="field-1">Phone</label>
                                    <div style="padding-bottom: 10px;">
                                        <input type="number" class="form-control" name="phone" id="phone"
                                            placeholder="Enter Phone" ng-model='medicinedata.phone'>
                                        <div ng-messages="medicineForm.$submitted && medicineForm.phone.$error" class="error_msg">
                                            <div ng-message="required">Enter Phone</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="field-1">Postal</label>
                                    <div style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="postal" id="postal"
                                            placeholder="Enter Postal" ng-model='medicinedata.postal'></input>
                                        <div ng-messages="medicineForm.$submitted && medicineForm.postal.$error" class="error_msg">
                                            <div ng-message="required">Enter Postal</div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row" >

                                <div class="col-lg-4">
                                    <label for="field-1">City</label>
                                    <div style="padding-bottom: 10px;">
                                        <input type="text" rows="4" class="form-control" name="city" id="city"
                                            placeholder="Enter City" ng-model='medicinedata.city'></input>
                                        <div ng-messages="medicineForm.$submitted && medicineForm.city.$error" class="error_msg">
                                            <div ng-message="required">Enter City</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <label for="field-1">State</label>
                                    <div style="padding-bottom: 10px;">
                                        <input type="text" class="form-control" name="state" id="state"
                                            placeholder="Enter State" ng-model='medicinedata.state'></input>
                                        <div ng-messages="medicineForm.$submitted && medicineForm.state.$error" class="error_msg">
                                            <div ng-message="required">Enter State</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <label for="field-1">Country</label>
                                    <div style="padding-bottom: 10px;">
                                        <input type="text" rows="2" class="form-control" name="country" id="country"
                                            placeholder="Enter Country" ng-model='medicinedata.country'></input>
                                        <div ng-messages="medicineForm.$submitted && medicineForm.country.$error" class="error_msg">
                                            <div ng-message="required">Enter Country</div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="form-group">
                                <label for="field-1">Address-1</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" name="add1" id="add1"
                                        placeholder="Enter Address-1" ng-model='medicinedata.add1'></input>
                                    <div ng-messages="medicineForm.$submitted && medicineForm.add1.$error" class="error_msg">
                                        <div ng-message="required">Enter Address-1</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="field-1">Address-2</label>
                                <div style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" name="add2" id="add2"
                                        placeholder="Enter Address-2" ng-model='medicinedata.add2'></input>
                                    <div ng-messages="medicineForm.$submitted && medicineForm.add2.$error" class="error_msg">
                                        <div ng-message="required">Enter Address-2</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="field-1">Items List</label>
                                <div style="padding-bottom: 10px;">
                                    <textarea type="text" rows="4" class="form-control" name="items" id="items"
                                        placeholder="Enter Items" ng-model='medicinedata.items'></textarea>
                                    <div ng-messages="medicineForm.$submitted && medicineForm.items.$error" class="error_msg">
                                        <div ng-message="required">Enter Items</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="field-1">Notes</label>
                                <div style="padding-bottom: 10px;">
                                    <textarea type="text" rows="4" class="form-control" name="notes" id="notes"
                                        placeholder="Enter Notes" ng-model='medicinedata.notes'></textarea>
                                    <div ng-messages="medicineForm.$submitted && medicineForm.notes.$error" class="error_msg">
                                        <div ng-message="required">Enter Notes</div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>

                                <h4 ng-show="showaddDriverMessage" class="success_msg" style="text-align: center;">
                                    {{addDriverMessage}}</h4>
                                <h4 ng-show="showaddDriverMessage2" class="error_msg"
                                    style="text-align: center;">{{addDriverMessage2}}</h4>
        
                            </div>
                            
                            <div class="form-group">
                                <div style="text-align: center;">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="submit" class="btn btn-light" on-click="reload()" >Cancel</button>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-3"></div>
                        
                    </div><hr>
                </form>
            </div>
            <!-- Footer -->
        </div>

    </div>

</div>