<div>
    <div class="navbar-fixed-top" ng-include="getTopMenu()"></div>
</div>
<div style="margin-top: 50px;">
        <div class="page-container">
        <header ng-include="getLeftMenu()"></header>
        <div class="main-content">
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="table_heading">Parcel Booking</h2>
                </div>
                <div class="col-md-6">
                    <div class="add_btn_container">
                        <!-- <button type="button" class="btn btn-primary" ng-click="goto('/parcels')"
                            style="margin-right: 150px; margin-top: 15px; float:right;"> Parcels List</button> -->

                    </div>
                </div>
            </div>
            <hr />
            <div class="">
                <div class="row">
                    <div class="">

                        <header class="section-header">
                          <!-- <h3>Please Feel Free To Provide Your Details</h3> -->
                        </header>
                
                        <div class="row about-container">
                          <div class="col-lg-10 offset-lg-1 content order-lg-1 order-2">
                            <div class="row">
                              <div class="col-lg-6" style="border-right:1px solid rgb(128, 128, 128);">
                                <form name="myForm" novalidate>
                                  <div class="row">
                                        <div class="col-lg-12">
                                         <h3><strong>From</strong></h3>
                                        </div>
                                        
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <lable>NAME</lable>
                                      <input type="text" class="form-control" name="from_name" id="inputError" ng-model="data.from_name">
                                    </div>
                                    
                                  </div>
                                  <div class="row" style="margin-top:20px;">
                                    <div class="col-lg-6">
                                      <lable>Country</lable>
                                      <input type="text" class="form-control" name="from_country" id="inputError" ng-model="data.from_country">
                                    </div>
                                    
                                  </div>
                                  <div class="row" style="margin-top:20px;">
                                    <div class="col-lg-12">
                                      <lable>Address 1</lable>
                                      <input type="text" class="form-control" name="from_address" id="inputError" ng-model="data.from_address">
                                    </div>
                                    
                                  </div>
                                  <div class="row" style="margin-top:20px;">
                                    <div class="col-lg-12">
                                      <lable>Address 2</lable>
                                      <input type="text" class="form-control" name="from_address2" id="inputError" ng-model="data.from_address2">
                                    </div>
                                    
                                  </div>
                                  <div class="row" style="margin-top:20px;">
                                    <div class="col-lg-4">
                                      <lable>Postal</lable>
                                      <input type="text" class="form-control" name="from_postal" id="inputError" ng-model="data.from_postal">
                                    </div>
                                    <div class="col-lg-4">
                                      <lable>City</lable>
                                      <input type="text" class="form-control" name="from_city" id="inputError" ng-model="data.from_city">
                                    </div>
                                    <div class="col-lg-4">
                                      <lable>State</lable>
                                      <input type="text" class="form-control" name="from_state" id="inputError" ng-model="data.from_state">
                                    </div>
                                    
                                  </div>
                                  <div class="row" style="margin-top:20px;">
                                    <div class="col-lg-10">
                                      <lable>PHONE</lable>
                                      <input type="text" class="form-control" id="phone" name="from_phone" ng-model="data.from_phone">
                                    </div>
                                    
                                  </div>
                                  <div class="row" style="margin-top:20px;">
                                    <div class="col-lg-10">
                                      <lable>EMAIL</lable>
                                      <input type="email" class="form-control" name="from_email" ng-model="data.from_email">
                                    </div>
                                    
                                  </div>
                                </form>
                              </div>
                
                              <div class="col-lg-6" style="border-left: 2px black;">
                                  <form name="myForm" novalidate>
                                    <div class="row">
                                          <div class="col-lg-12">
                                           <h3><strong>To</strong></h3>
                                          </div>
                                          
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-12">
                                        <lable>NAME</lable>
                                        <input type="text" class="form-control" name="to_name" id="inputError" ng-model="data.to_name">
                                      </div>
                                      
                                    </div>
                                    <div class="row" style="margin-top:20px;">
                                      <div class="col-lg-6">
                                        <lable>Country</lable>
                                        <input type="text" class="form-control" name="to_country" id="inputError" ng-model="data.to_country">
                                      </div>
                                      
                                    </div>
                                    <div class="row" style="margin-top:20px;">
                                      <div class="col-lg-12">
                                        <lable>Address 1</lable>
                                        <input type="text" class="form-control" name="to_address" id="inputError" ng-model="data.to_address">
                                      </div>
                                      
                                    </div>
                                    <div class="row" style="margin-top:20px;">
                                      <div class="col-lg-12">
                                        <lable>Address 2</lable>
                                        <input type="text" class="form-control" name="to_address2" id="inputError" ng-model="data.to_address2">
                                      </div>
                                      
                                    </div>
                                    <div class="row" style="margin-top:20px;">
                                      <div class="col-lg-4">
                                        <lable>Postal</lable>
                                        <input type="text" class="form-control" name="to_postal" id="inputError" ng-model="data.to_postal">
                                      </div>
                                      <div class="col-lg-4">
                                        <lable>City</lable>
                                        <input type="text" class="form-control" name="to_city" id="inputError" ng-model="data.to_city">
                                      </div>
                                      <div class="col-lg-4">
                                        <lable>State</lable>
                                        <input type="text" class="form-control" name="to_state" id="inputError" ng-model="data.to_state">
                                      </div>
                                      
                                    </div>
                                    <div class="row" style="margin-top:20px;">
                                      <div class="col-lg-10">
                                        <lable>PHONE</lable>
                                        <input type="text" class="form-control" id="phone" name="to_phone" ng-model="data.to_phone">
                                      </div>
                                      
                                    </div>
                                    <div class="row" style="margin-top:20px;">
                                      <div class="col-lg-10">
                                        <lable>EMAIL</lable>
                                        <input type="email" class="form-control" name="to_email" ng-model="data.to_email">
                                      </div>
                                      
                                    </div>
                                  </form>
                                </div>
                            </div>
                          </div>
                        </div>
                
                        <div class="row about-container">
                
                            <div class="col-lg-10 offset-lg-1 content order-lg-1 order-2">
                              <div class="row">
                                <div class="col-lg-12">
                                  <form name="myForm" novalidate>
                                    <div class="row">
                                          <div class="col-lg-12">
                                           <h3><strong>Package Details</strong></h3>
                                          </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-4">
                                        <lable>Total Weight Of Parcel</lable>
                                        <input type="number" class="form-control" name="weight" id="inputError" ng-model="data.weight">
                                      </div>
                                      
                                    </div>
                                    <div class="row" style="margin-top:20px;">
                                      <div class="col-lg-4">
                                        <lable>No of Packages</lable>
                                        <input type="text" class="form-control" name="boxess" id="inputError" ng-model="data.boxess">
                                      </div>
                                      
                                    </div>
                                    <div class="row" style="margin-top:20px;">
                                      <div class="col-lg-4">
                                        <lable>Values</lable>
                                        <input type="text" class="form-control" name="parcelValues" id="inputError" ng-model="data.parcelValues">
                                      </div>
                                      
                                    </div>
                                    <div class="row" style="margin-top:20px;">
                                      <div class="col-lg-12">
                                        <lable>Packing List </lable>
                                        <textarea rows="4" cols="50" class="form-control" id="packinglist" ng-model="data.packinglist"
                                        name="packinglist"></textarea>
                                      </div>
                                    
                                    </div>
                                    <div class="row" style="margin-top:20px;">
                                        <div class="col-lg-12">
                                          <lable>Notes</lable>
                                          <textarea rows="4" cols="50" class="form-control" id="notes" ng-model="data.notes"
                                        name="notes"></textarea>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary mt-3" ng-click="parcelBooking(data)" id="myBtn">Submit</button> 
                                  
                                </form>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                     </div>
                     
                    <div>
                        <h4 ng-show="showAddParcelMessage" class="success_msg" style="text-align: center;">
                            {{addParcelMessage}}</h4>
                        <h4 ng-show="showAddParcelMessage2" class="error_msg"
                            style="text-align: center;">{{addParcelMessage2}}</h4>

                    </div>
                    <hr>

            </div>
        </div>
    </div>
</div>