/**
 *
 * Apply Here your Custom CSS
 *
*/
#pOrder{
    float: right;
    text-align: right;
    line-height: 1.9;
}
#pOrder h3,h4{
    color: #398298;
}
#pOrder p{
    float:right;
}
#hr{
    border-top: 2px solid #c5cace;
    padding: 0px;
    margin-top: 24px;
}
#payment{
    line-height: 2.3;
    margin-top: 57px;
    font-size: 13px;
    font-weight: 600;
}
.p_head{
    color: grey;
}
#acolor{
    background: #ebf7ff;
}
#lH{
    line-height: 1.9;
}
#lH a{ 
    color:#000000;
    font-weight: 600;
    font-size: 16px;
}
#lH h3 a{ 
    color:#398298;
    font-size: 16px;
}
#lH h3{
    color: #398298;
    font-size: 16px;
}
#lH2{
    line-height: 2.4;
}
#lH2 a{ 
    color:#000000;
    font-weight: 600;
    font-size: 16px;
}
#lH2 h3 a{
    color: #398298;
    font-weight: 600;
    font-size: 16px;
}
#lH2 h3{
    font-weight: 600;
    font-size: 16px;
    color: #398298;
}
#pHr{
    border-bottom: 2px solid #c5cace;
    margin: 12px 0px;
}
.tRight{
    text-align: right;
}
.tRight span{
    font-size: 13px;
}
.fs{
    font-size: 13px;
}
.ta{
    border-top: 2px solid #c5cace;
    margin-top: 6px;
    padding: 5px 0px;
    text-align: right;
    font-size: 13px;
    font-weight: 600;
}
.ta2{
    border-top: 2px solid #c5cace;
    margin-top: 6px;
    padding: 5px 23px;
    font-size: 13px;
    font-weight: 600;
}
.sp h4{
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
/* .sp span{
    background: #cacaca;
    font-size: 14px;
    padding: 4px 5px;
} */

#spc{
    background: #ffffff;
    font-size: 14px;
    padding: 4px 5px;
    color: #1f47b3;
    font-weight: 600;
}
.spn{
    margin-top: 25px;
    line-height: 1.9;
}
.mts{
    margin-top: 8%;
}
.bp{
    text-align: center;

}
#tc{
    width: auto;
    height: auto;
    background-color: blue;
    overflow:auto;
}
.limg{
    width: 65%;
}
#pColor span{
    color:#197996;
    font-size: 16px;
}
#pColor h3{
    font-size: 16px;
}
#upPro button{
    margin: 0;
}
#upPro p{
    text-align: left;
}
.control-label{
    text-align: right;
}
/* side bar */
.mob{
  text-transform:capitalize;
}
.pdg{
  padding: 0px;
}

/* support */
.text-red{
    color:red;
    font-size: 20px;
    font-weight: 600;
  }
  .text-yellow{
    color:#0433a7;
    font-size: 20px;
    font-weight: 600;
  }
  .text-green{
    color:green;
    font-size: 20px;
    font-weight: 600;
  }
  #textC{
      color: green;
      font-weight: 600;
  }

 